Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

feat(spikard-http,spikard-core): add AsyncAPI HTTP endpoints + parse/validate
  crates/spikard-http/src/asyncapi.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/asyncapi_endpoints_test.rs
Due: rust-core

feat(spikard-http): cap gRPC streaming response total size via max_stream_response_bytes
  crates/spikard-elixir/src/lib.rs
  crates/spikard-http/src/grpc/mod.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/grpc/streaming.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/lib.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/lib.rs
  packages/dart/rust/src/lib.rs
  packages/go/binding.go
  packages/swift/rust/src/lib.rs
Due: rust-core

fix: align alef e2e binding checks
  Cargo.toml
  alef.toml
  packages/kotlin/src/main/kotlin/dev/spikard/kt/Spikard.kt
  packages/python/tests/test_client_surface.py
Due: none

chore: updated deps
  .pre-commit-config.yaml
  e2e/node/package.json
  examples/graphql-node/package.json
  examples/node-simple/package.json
  examples/node/package.json
  package.json
  packages/elixir/mix.lock
  packages/java/pom.xml
  packages/php/composer.lock
  packages/ruby/Gemfile.lock
  pnpm-lock.yaml
  test_apps/node/package.json
  uv.lock
Due: none

fix(ci): unblock rust tests, docs, and codegen quality gates
  .github/workflows/ci-rust.yaml
  .pre-commit-config.yaml
  crates/spikard-cli/src/codegen/openrpc/generators/python.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  docs/snippets/ruby/run_app.md
  docs/snippets/rust/auth_middleware.md
  docs/snippets/rust/run_app.md
  scripts/ci/docs/textlint.sh
Due: rust-cli

fix(e2e): wire up alef.toml e2e configs for rust/elixir/java/zig
  alef.toml
Due: none

fix(publish): wire elixir-natives matrix, fix crate paths
  .github/workflows/publish.yaml
  crates/spikard-node/README.md
  crates/spikard-wasm/README.md
  packages/java/README.md
  packages/kotlin/README.md
  packages/ruby/README.md
Due: none

fix(publish): align ffi target inputs, wasm-pack cwd, java release version
  .github/workflows/publish.yaml
  packages/java/pom.xml
Due: none

fix(e2e): build swift package via action, drop polyrepo-local before hook
  .github/workflows/ci-e2e.yaml
  alef.toml
Due: none

fix(ci): point zig binding tests at target/release where FFI is built
  .github/workflows/ci-bindings.yaml
Due: none

fix(publish): drop target input from build-rust-ffi to use target/release/
  .github/workflows/publish.yaml
Due: none

fix(ci): bump java target to 25 to match alef-generated FFI API usage
  .github/workflows/ci-bindings.yaml
  .github/workflows/ci-e2e.yaml
  .github/workflows/publish.yaml
  packages/java/pom.xml
  packages/kotlin/build.gradle.kts
Due: none

chore(alef): bump pin to 0.16.25 and pass include-base-paths to snippets gaps
  Taskfile.yaml
  alef.toml
Due: none

fix(publish): explicit matrix entries for elixir NIF os x nif combinations
  .github/workflows/publish.yaml
Due: none

fix(docs): install docs dependency group so zensical is on PATH
  .github/workflows/docs.yaml
Due: none

fix(ci): bump gradle to 9.1.0 to support Java 25 bytecode (class file 69)
  .github/workflows/ci-bindings.yaml
  .github/workflows/ci-e2e.yaml
  .github/workflows/publish.yaml
Due: none

docs(overrides): add canonical main.html template
  docs/overrides/main.html
Due: none

fix(publish): elixir nif joins workspace; zig package step uses target/release
  .github/workflows/publish.yaml
  packages/elixir/native/spikard_nif/Cargo.toml
Due: none

docs(zensical): add custom icons override dir; drop --strict from docs:build
  Taskfile.yaml
  docs/overrides/.icons/github.svg
  docs/overrides/.icons/moon.svg
  docs/overrides/.icons/search.svg
  docs/overrides/.icons/sun.svg
Due: none

fix(workspace): include spikard_nif as workspace member (was excluded)
  Cargo.toml
Due: none

fix(rust): exclude spikard_nif from clippy lint workspace check
  .task/languages/rust.yml
Due: none

chore(alef): bump pin to 0.16.26
  alef.toml
Due: none

chore: regenerate e2e tests with alef v0.16.26
  e2e/node/tests/cors.test.ts
  e2e/node/tests/graphql_schema.test.ts
  e2e/node/tests/grpc.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/response.test.ts
  e2e/node/tests/server_config.test.ts
  e2e/node/tests/sse.test.ts
  e2e/node/tests/streaming.test.ts
  e2e/python/pyproject.toml
  e2e/rust/Cargo.toml
  e2e/rust/src/main.rs
  e2e/rust/tests/cors_test.rs
  e2e/rust/tests/graphql_schema_test.rs
  e2e/rust/tests/grpc_test.rs
  e2e/rust/tests/mock_server.rs
  e2e/rust/tests/server_config_test.rs
  e2e/rust/tests/websocket_test.rs
  e2e/swift/Package.swift
  e2e/wasm/package.json
Due: none

chore(alef): bump pin to v0.16.30 and regenerate e2e
  alef.toml
  e2e/rust/src/main.rs
  e2e/rust/tests/auth_test.rs
  e2e/rust/tests/content_types_test.rs
  e2e/rust/tests/cors_test.rs
  e2e/rust/tests/graphql_schema_test.rs
  e2e/rust/tests/grpc_test.rs
  e2e/rust/tests/headers_test.rs
  e2e/rust/tests/mock_server.rs
  e2e/rust/tests/server_config_test.rs
  e2e/rust/tests/websocket_test.rs
Due: none

chore(cleanup): remove dead packages/{node,typescript,wasm} dirs and wrapper publish script
  .codecov.yml
  .github/actions/benchmark-framework/action.yaml
  README.md
  Taskfile.yaml
  alef.toml
  biome.json
  packages/node/.oxfmtrc.json
  packages/node/.oxlintrc.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/index.d.ts
  packages/node/tests/test_client_surface.test.ts
  packages/node/tsconfig.json
  packages/typescript/README.md
  packages/typescript/src/index.ts
  packages/wasm/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish/node/publish-wrapper-package.sh
Due: node

fix(ci): install JDK 25 explicitly before setup-maven
  .github/workflows/ci-bindings.yaml
  .github/workflows/ci-e2e.yaml
  .github/workflows/publish.yaml
Due: none

fix(readme-template): blank line between **xxx:** marker and code fence for MD031
  templates/readme/partials/installation.md.jinja
Due: none

chore(alef): bump pin to v0.16.32 and regenerate
  .github/workflows/publish.yaml
  Cargo.toml
  alef.toml
  crates/spikard-ffi/Cargo.toml
  crates/spikard-node/Cargo.toml
  crates/spikard-node/src/lib.rs
  crates/spikard-php/Cargo.toml
  crates/spikard-py/Cargo.toml
  crates/spikard-wasm/Cargo.toml
  crates/spikard/README.md
  e2e/node/tests/auth.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/grpc.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/jsonrpc.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/response.test.ts
  e2e/node/tests/server_config.test.ts
  e2e/node/tests/static_files.test.ts
  e2e/node/tests/streaming.test.ts
  e2e/python/pyproject.toml
  e2e/rust/Cargo.toml
  e2e/rust/tests/content_types_test.rs
  e2e/rust/tests/cors_test.rs
  e2e/rust/tests/graphql_schema_test.rs
  e2e/rust/tests/grpc_test.rs
  e2e/rust/tests/headers_test.rs
  e2e/rust/tests/lifecycle_hooks_test.rs
  packages/csharp/src/Spikard/ValidationErrorException.cs
  packages/elixir/native/spikard_nif/Cargo.toml
  packages/kotlin/build.gradle.kts
  packages/swift/Sources/RustBridgeC/RustBridgeC.h
  packages/swift/rust/Cargo.toml
Due: rust-core

fix(codegen): unbreak Rust GraphQL, Python OpenAPI, and Ruby OpenAPI generators
  crates/spikard-cli/src/codegen/graphql/generators/rust.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/src/codegen/ruby.rs
Due: rust-cli

fix(spikard-http): mark validate_content_type_middleware doctest as ignore
  crates/spikard-http/src/middleware/mod.rs
Due: rust-core

fix(spikard): use spikard_http re-exports for ProblemDetails and JsonRpcMethodInfo
  crates/spikard/src/lib.rs
Due: rust-core

Path conditions:
  rust-core: any of: crates/spikard/, crates/spikard-core/, crates/spikard-http/, crates/spikard-bindings-shared/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-cli: any of: crates/spikard-cli/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-graphql: any of: crates/spikard-graphql/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  python: any of: packages/python/spikard/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  node: any of: packages/node/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  ruby: any of: packages/ruby/lib/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  php: any of: packages/php/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
