Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

.codecov.yml:

# Codecov Configuration for Spikard Multi-Language Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  rust-core:
    paths:
      - crates/spikard/
      - crates/spikard-core/
      - crates/spikard-http/
      - crates/spikard-bindings-shared/
    target: 80%
    threshold: 2%

  rust-cli:
    paths:
      - crates/spikard-cli/
    target: 75%
    threshold: 3%

  rust-graphql:
    paths:
      - crates/spikard-graphql/
    target: 80%
    threshold: 2%

  python:
    paths:
      - packages/python/spikard/
    target: 80%
    threshold: 2%

  node:
    paths:
      - packages/node/src/
    target: 80%
    threshold: 2%

  ruby:
    paths:
      - packages/ruby/lib/
    target: 80%
    threshold: 2%

  php:
    paths:
      - packages/php/src/
    target: 80%
    threshold: 2%

ignore:
  # Test files
  - "**/*_test.rs"
  - "**/*_spec.rs"
  - "**/tests/**"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/spec/**"

  # FFI bindings (tested via language-specific tests)
  - "crates/spikard-py/src/**"
  - "crates/spikard-node/src/**"
  - "crates/spikard-rb/src/**"
  - "crates/spikard-php/src/**"

  # Generated code
  - "**/generated/**"
  - "**/target/**"
  - "**/dist/**"
  - "**/build/**"

  # Development & CI
  - "**/examples/**"
  - "**/tools/**"
  - "**/.github/**"
  - "**/scripts/**"
  - "**/benches/**"

  # Vendored dependencies
  - "**/vendor/**"
  - "**/node_modules/**"
  - "**/.gems/**"

  # Binary entry points
  - "**/src/main.rs"
  - "**/src/bin/**"

  # Version files
  - "**/version.rb"
  - "**/version.py"

  # Internal implementation files explicitly omitted per pyproject.toml
  - "packages/python/spikard/_internal.py"
  - "packages/python/spikard/background.py"
  - "packages/python/spikard/routing.py"
  - "packages/python/spikard/schema.py"
  - "packages/python/spikard/sse.py"
  - "packages/python/spikard/testing.py"
  - "packages/python/spikard/websocket.py"

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

chore: updated deps
  .ai-rulez/agents/code-reviewer.md
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  _typos.toml
  crates/spikard-cli/Cargo.toml
  crates/spikard-codegen/Cargo.toml
  crates/spikard-core/Cargo.toml
  crates/spikard-http/Cargo.toml
  crates/spikard-node/package.json
  crates/spikard-py/pyproject.toml
  e2e/node/package.json
  examples/graphql-node/package.json
  examples/node-simple/package.json
  examples/node/package.json
  package.json
  packages/elixir/mix.lock
  packages/node/package.json
  packages/php/composer.lock
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  packages/ruby/spec/schema_spec.rb
  packages/ruby/spec/support/grpc_test_client.rb
  pnpm-lock.yaml
  pyproject.toml
  tests/test_apps/node/package.json
  tools/benchmark-harness/apps/elysia/bun.lock
  tools/benchmark-harness/apps/elysia/package.json
  tools/benchmark-harness/apps/fastify/package.json
  tools/benchmark-harness/apps/hono/package.json
  tools/benchmark-harness/apps/robyn/pyproject.toml
  tools/benchmark-harness/apps/spikard-python/pyproject.toml
  tools/benchmark-harness/apps/turboapi/pyproject.toml
  tools/benchmark-harness/apps/turboapi/server.py
  tools/benchmark-harness/apps/turboapi/uv.lock
  tools/snippet-runner/Cargo.toml
  uv.lock
Due: rust-core, rust-cli

feat: add Serialize, Deserialize, Clone, Default derives to public types
  crates/spikard-core/src/bindings/response.rs
  crates/spikard-core/src/di/graph.rs
  crates/spikard-core/src/errors.rs
  crates/spikard-core/src/metadata.rs
  crates/spikard-core/src/parameters.rs
  crates/spikard-core/src/problem.rs
  crates/spikard-core/src/validation/mod.rs
  crates/spikard-graphql/src/handler.rs
  crates/spikard-graphql/src/routes.rs
  crates/spikard-graphql/src/schema.rs
  crates/spikard-http/src/background.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/response.rs
  crates/spikard-http/src/sse.rs
  crates/spikard-http/src/testing.rs
Due: rust-core, rust-graphql

chore: update alef.toml with extra_dependencies and fix features
  .alef/hashes/python.hash
  .alef/hashes/python.manifest
  .alef/hashes/python.output_hashes
  .alef/hashes/scaffold.hash
  .alef/hashes/scaffold.manifest
  .alef/ir.hash
  .alef/ir.json
  alef.toml
Due: none

refactor: add GraphQL re-exports to facade, remove broken lifecycle adapter
  alef.toml
  crates/spikard/Cargo.toml
  crates/spikard/src/lib.rs
Due: rust-core

feat: add derives + pub fields for alef binding generation
  crates/spikard-graphql/src/error.rs
  crates/spikard-graphql/src/schema.rs
  crates/spikard/src/lib.rs
  crates/spikard/src/upload.rs
Due: rust-core, rust-graphql

feat: visibility, Default impls, From<Method>, re-exports for alef bindings
  crates/spikard-core/src/di/mod.rs
  crates/spikard-core/src/di/resolved.rs
  crates/spikard-core/src/http.rs
  crates/spikard-core/src/request_data.rs
  crates/spikard-core/src/router.rs
  crates/spikard-core/src/validation/error_mapper.rs
  crates/spikard-http/src/handler_trait.rs
  crates/spikard-http/src/jsonrpc/protocol.rs
  crates/spikard-http/src/jsonrpc/router.rs
  crates/spikard-http/src/openapi/mod.rs
  crates/spikard-http/src/testing.rs
  crates/spikard/src/lib.rs
Due: rust-core

refactor: trim alef.toml to public API surface
  alef.toml
Due: none

refactor: re-exports, derives, exclude internal types
  alef.toml
  crates/spikard-http/src/jsonrpc/router.rs
  crates/spikard-http/src/testing.rs
  crates/spikard/src/lib.rs
Due: rust-core

feat: re-export ParameterSource, ValidationError, StructuredError, JsonRpcMethodInfo from spikard-http
  crates/spikard-http/src/lib.rs
Due: rust-core

refactor: aggressively trim alef.toml to public API only
  alef.toml
Due: none

refactor: hide internal modules behind pub(crate)
  crates/spikard-core/src/di/graph.rs
  crates/spikard-core/src/di/mod.rs
  crates/spikard-core/src/lib.rs
  crates/spikard-http/src/grpc/mod.rs
  crates/spikard-http/src/jsonrpc/mod.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/server/mod.rs
Due: rust-core

refactor: restore original public API surface in spikard facade
  crates/spikard-py/src/lib.rs
  crates/spikard/src/lib.rs
Due: rust-core

chore: add alef workflow integration
  .github/workflows/ci-validate.yaml
  .pre-commit-config.yaml
  Taskfile.yaml
  pnpm-workspace.yaml
Due: none

chore: add [lints] workspace = true to all binding crates
  crates/spikard-elixir/Cargo.toml
  crates/spikard-node/Cargo.toml
  crates/spikard-php/Cargo.toml
  crates/spikard-py/Cargo.toml
  crates/spikard-rb/Cargo.toml
Due: none

fix: update CI for post-migration structure
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
Due: none

refactor: replace broken tasks and docs refs with alef equivalents
  README.md
  Taskfile.yaml
  mkdocs.yaml
Due: none

refactor: migrate from mkdocs.yaml to zensical.toml
  mkdocs.yaml
  zensical.toml
Due: none

refactor: migrate to zensical, remove mike and mkdocstrings
  .github/workflows/docs.yaml
  Taskfile.yaml
  pyproject.toml
  scripts/docs/build-docs.sh
  zensical.toml
Due: none

fix: dead code warnings, Ruby gemspec quoting, add Gemfile.lock
  crates/spikard-core/src/debug.rs
  crates/spikard-core/src/di/graph.rs
  packages/ruby/Gemfile.lock
  packages/ruby/spikard.gemspec
Due: rust-core

fix: remove dead code (has_cycle_with, has_cycle_dfs, debug::init)
  crates/spikard-core/src/debug.rs
  crates/spikard-core/src/di/graph.rs
Due: rust-core

fix: remove dead code from spikard-core and spikard-http
  crates/spikard-core/src/debug.rs
  crates/spikard-core/src/lib.rs
  crates/spikard-core/src/validation/mod.rs
  crates/spikard-http/src/debug.rs
  crates/spikard-http/src/grpc/handler.rs
  crates/spikard-http/src/grpc/mod.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/grpc/streaming.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/middleware/validation.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/src/server/request_extraction.rs
  crates/spikard-php/Cargo.toml
  scripts/ci/ruby/vendor-crates.sh
Due: rust-core

chore: bump version to 0.14.0, update changelog
  CHANGELOG.md
  Cargo.toml
  composer.json
  crates/spikard-node/Cargo.toml
  crates/spikard-node/package.json
  crates/spikard-php/Cargo.toml
  crates/spikard-py/Cargo.toml
  e2e/rust/Cargo.toml
  examples/di/Cargo.toml
  examples/rust-lifecycle-hooks/Cargo.toml
  packages/elixir/mix.exs
  packages/python/pyproject.toml
  packages/ruby/spikard.gemspec
  packages/typescript/package.json
  pnpm-workspace.yaml
  pyproject.toml
  uv.lock
Due: none

fix: Taskfile Python build paths, test_apps node workspace dep
  .pre-commit-config.yaml
  Taskfile.yaml
  e2e/node/package.json
  packages/elixir/mix.lock
  packages/php/composer.lock
  packages/ruby/Gemfile.lock
  packages/typescript/package.json
  pnpm-lock.yaml
  test_apps/node/package.json
Due: none

fix: remove integration tests referencing deleted internal functions
  .alef/hashes/python.hash
  .alef/hashes/python.manifest
  .alef/hashes/python.output_hashes
  .alef/ir.json
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/tests/grpc_bidirectional_streaming.rs
  crates/spikard-http/tests/grpc_client_streaming.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
  crates/spikard-http/tests/server_configured_router_behavior.rs
  packages/python/spikard/_spikard.pyi
Due: rust-core, python

fix: CI issues — pnpm lockfile, PHP extension-module, Python tests dir, Ruby vendor
  crates/spikard-php/Cargo.toml
  packages/python/tests/__init__.py
  pnpm-lock.yaml
  scripts/ci/ruby/vendor-crates.sh
Due: none

fix: clippy — orphan doc comment, Debug finish_non_exhaustive
  crates/spikard-core/src/di/graph.rs
  crates/spikard-core/src/validation/mod.rs
Due: rust-core

fix: re-exports for all binding backends, alef v0.5.3 in CI, scaffold fixes
  .github/workflows/ci-validate.yaml
  crates/spikard/src/lib.rs
  packages/elixir/native/spikard_nif/Cargo.toml
  packages/ruby/ext/spikard_rb/extconf.rb
  packages/ruby/ext/spikard_rb/native/Cargo.toml
  pnpm-workspace.yaml
Due: rust-core

chore: update CI to alef-cli@0.5.4
  .github/workflows/ci-validate.yaml
Due: none

fix: update pnpm lockfile, add Python smoke test
  packages/python/tests/test_import.py
  pnpm-lock.yaml
Due: none

fix: PHP extension-module feature, Node gRPC test server
  crates/spikard-php/Cargo.toml
Due: none

fix: regenerate with alef Map fix + PHP extension-module scaffold
  crates/spikard-php/Cargo.toml
  e2e/elixir/test/content_types_test.exs
  e2e/elixir/test/cookies_test.exs
  e2e/elixir/test/cors_test.exs
  e2e/elixir/test/headers_test.exs
  e2e/elixir/test/http_methods_test.exs
  e2e/elixir/test/lifecycle_hooks_test.exs
  e2e/elixir/test/query_params_test.exs
  e2e/node/tests/content_types.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/php/tests/ContentTypesTest.php
  e2e/php/tests/CookiesTest.php
  e2e/php/tests/CorsTest.php
  e2e/php/tests/HeadersTest.php
  e2e/php/tests/HttpMethodsTest.php
  e2e/php/tests/LifecycleHooksTest.php
  e2e/php/tests/QueryParamsTest.php
  e2e/python/tests/test_content_types.py
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_headers.py
  e2e/python/tests/test_http_methods.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_query_params.py
  e2e/ruby/spec/content_types_spec.rb
  e2e/ruby/spec/cookies_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/headers_spec.rb
  e2e/ruby/spec/http_methods_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/query_params_spec.rb
  packages/python/spikard/options.py
Due: python
