Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

Add GraphQL testing parity across bindings
  crates/spikard-graphql/Cargo.toml
  crates/spikard-graphql/src/error.rs
  crates/spikard-graphql/src/executor.rs
  crates/spikard-graphql/src/handler.rs
  crates/spikard-http/src/testing.rs
  crates/spikard-http/src/testing/test_client.rs
  crates/spikard-php/src/php/testing.rs
  examples/graphql/main.rs
  packages/node/src/testing.spec.ts
  packages/node/src/testing.ts
  packages/php/src/Native/TestClient.php
  packages/php/src/Testing/TestClient.php
  packages/php/stubs/Spikard/Native/TestClient.php
  packages/php/stubs/ext.php
  packages/php/tests/GraphQLTestClientTest.php
  packages/php/tests/TestClientTest.php
  packages/python/spikard/testing.py
  packages/python/tests/graphql_methods_test.py
  packages/ruby/lib/spikard/testing.rb
  packages/ruby/sig/spikard.rbs
  packages/ruby/spec/testing_spec.rb
Due: rust-core, rust-graphql, node, ruby, php

Add GraphQL helper parity for Elixir test client
  crates/spikard-elixir/src/testing.rs
  packages/elixir/lib/spikard/native.ex
  packages/elixir/lib/spikard/test_client.ex
  packages/elixir/native/spikard_elixir/src/testing.rs
  packages/elixir/test/spikard/test_client_test.exs
Due: none

fix(ci): resolve validate lint failures and tighten GraphQL parity tests
  crates/spikard-http/src/testing/test_client.rs
  packages/node/src/testing.spec.ts
  packages/ruby/lib/spikard/testing.rb
Due: rust-core, ruby

chore: updated deps
  .pre-commit-config.yaml
  composer.json
  crates/spikard-node/package.json
  crates/spikard-py/pyproject.toml
  e2e/node/package.json
  examples/graphql-node/package.json
  examples/node-simple/package.json
  examples/node/package.json
  package.json
  packages/node/package.json
  packages/php/composer.json
  packages/php/composer.lock
  packages/python/pyproject.toml
  packages/ruby/Gemfile.lock
  pnpm-lock.yaml
  pyproject.toml
  tests/test_apps/node/package.json
  tools/benchmark-harness/apps/fastify/package.json
  tools/benchmark-harness/apps/hanami-api/Gemfile.lock
  tools/benchmark-harness/apps/hono/package.json
  tools/benchmark-harness/apps/kito/package.json
  tools/benchmark-harness/apps/morojs/package.json
  tools/benchmark-harness/apps/roda/Gemfile.lock
  uv.lock
Due: none

chore: grpc fixes
  crates/spikard-bindings-shared/src/config_extractor.rs
  crates/spikard-cli/src/codegen/asyncapi/spec_parser.rs
  crates/spikard-cli/src/init/rust_lang.rs
  crates/spikard-graphql/src/routes.rs
  crates/spikard-http/src/auth.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
  crates/spikard-http/tests/server_auth_middleware_behavior.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/php/start.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/config/server_config.rs
  examples/graphql/main.rs
  packages/node/src/config.ts
  packages/node/src/index.ts
  packages/php/src/App.php
  packages/php/src/Config/JsonRpcConfig.php
  packages/php/src/Config/ServerConfig.php
  packages/python/spikard/__init__.py
  packages/python/spikard/config.py
  packages/ruby/lib/spikard/config.rb
Due: rust-core, rust-cli, rust-graphql, python, node, ruby, php

release: v0.12.0
  CHANGELOG.md
  Cargo.toml
  Taskfile.yaml
  composer.json
  crates/spikard-cli/Cargo.toml
  crates/spikard-core/README.md
  crates/spikard-http/README.md
  crates/spikard-node/package.json
  crates/spikard-py/pyproject.toml
  crates/spikard-rb-macros/Cargo.toml
  crates/spikard-rb/lib/spikard/version.rb
  crates/spikard/README.md
  e2e/rust/Cargo.toml
  examples/di/Cargo.toml
  examples/rust-lifecycle-hooks/Cargo.toml
  package.json
  packages/elixir/mix.exs
  packages/elixir/native/spikard_elixir/Cargo.toml
  packages/node/package.json
  packages/php/composer.json
  packages/python/pyproject.toml
  packages/ruby/ext/spikard_rb/Cargo.toml
  packages/ruby/lib/spikard/version.rb
  tests/test_apps/README.md
  tests/test_apps/node/README.md
  tests/test_apps/php/README.md
  tests/test_apps/ruby/README.md
  tests/test_apps/rust/Cargo.toml
  tests/test_apps/rust/README.md
  tools/app-generator/Cargo.toml
  tools/benchmark-harness/apps/spikard-rust/Cargo.toml
  tools/bindgen/Cargo.toml
  tools/test-generator/Cargo.toml
Due: rust-core, rust-cli

Fix binding metadata preservation and stale docs
  CHANGELOG.md
  crates/spikard-elixir/src/server.rs
  crates/spikard-elixir/src/testing.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/runtime/server_runner.rs
  crates/spikard-rb/src/server.rs
  docs/adr/0013-graphql-http-integration.md
  docs/guides/graphql.md
  examples/jsonrpc-php/README.md
  examples/jsonrpc-ruby/README.md
  packages/elixir/native/spikard_elixir/src/server.rs
  packages/elixir/native/spikard_elixir/src/testing.rs
Due: none

fix: resolve CI failures across lint, test, and benchmark pipelines
  .github/actions/benchmark-framework/action.yaml
  .github/workflows/comparative-benchmarks.yaml
  crates/spikard-cli/src/init/rust_lang.rs
  crates/spikard-node/src/test_client.rs
  e2e/python/app/static_assets/static_files_static_file_server_returns_text_file/public_0/hello.txt
  e2e/python/app/static_assets/static_files_static_server_returns_index_html_for_directory/app_0/index.html
  packages/python/spikard/_spikard.pyi
  tools/benchmark-harness/apps/morojs/server.ts
  tools/benchmark-harness/apps/spikard-python/server.py
  uv.lock
Due: rust-cli, python

Implement OpenRPC runtime docs and metadata reconstruction
  CHANGELOG.md
  crates/spikard-http/src/jsonrpc/mod.rs
  crates/spikard-http/src/jsonrpc/openrpc.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/server_configured_router_behavior.rs
  crates/spikard-http/tests/server_openapi_jsonrpc_static.rs
  examples/jsonrpc-php/README.md
  examples/jsonrpc-ruby/README.md
Due: rust-core

fix(ci): switch npm publishing to trusted publishers with provenance
  .github/workflows/publish.yaml
  scripts/publish/node/publish-main-package.sh
  scripts/publish/node/publish-native-packages.sh
  scripts/publish/node/publish-wrapper-package.sh
Due: none

Normalize gRPC helper status metadata
  CHANGELOG.md
  docs/snippets/grpc/php/error_handling.md
  docs/snippets/grpc/php/handler_basic.md
  docs/snippets/grpc/php/handler_complete.md
  docs/snippets/grpc/php/handler_streaming.md
  docs/snippets/grpc/ruby/error_handling.md
  docs/snippets/grpc/ruby/handler_basic.md
  packages/php/docs/GRPC.md
  packages/php/src/Grpc.php
  packages/php/src/Grpc/Response.php
  packages/php/stubs/Spikard/Grpc.php
  packages/php/tests/GrpcFacadeTest.php
  packages/php/tests/GrpcIntegrationTest.php
  packages/php/tests/GrpcResponseTest.php
  packages/ruby/lib/spikard/grpc.rb
  packages/ruby/spec/grpc_spec.rb
Due: ruby, php

Implement workers runtime configuration
  CHANGELOG.md
  crates/spikard-elixir/src/server.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/tests/server_config_builder.rs
  crates/spikard-node/config.d.ts
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/php/start.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/runtime/server_runner.rs
  crates/spikard-rb/src/server.rs
  packages/elixir/native/spikard_elixir/src/server.rs
  packages/node/native/src/lib.rs
  packages/node/src/config.ts
  packages/php/src/Config/ServerConfig.php
  packages/php/tests/ConfigTest.php
  packages/php/tests/EdgeCasesTest.php
  packages/php/tests/ServerConfigBuilderTest.php
  packages/python/spikard/app.py
  packages/python/spikard/config.py
  packages/ruby/lib/spikard/config.rb
Due: rust-core, python, node, ruby, php

Propagate gRPC streaming terminal trailers
  CHANGELOG.md
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
Due: rust-core

Remove Node and Ruby startup compatibility shims
  CHANGELOG.md
  README.md
  docs/bindings/ruby.md
  docs/guides/graphql.md
  docs/reference/init-advanced.md
  docs/snippets/ruby/hello_route.md
  docs/snippets/ruby/quickstart_routes.md
  examples/di/ruby_basic.rb
  examples/di/ruby_database.rb
  examples/jsonrpc-ruby/app.rb
  packages/node/src/app.ts
  packages/node/src/index.ts
  packages/node/src/server.ts
  packages/ruby/README.md
  packages/ruby/lib/spikard/app.rb
Due: node, ruby

Apply node test client formatting
  crates/spikard-node/src/test_client.rs
Due: none

Normalize direct gRPC status metadata
  CHANGELOG.md
  crates/spikard-rb/src/grpc/handler.rs
  packages/php/src/Grpc/Response.php
  packages/php/tests/GrpcResponseTest.php
  packages/ruby/spec/grpc_spec.rb
Due: php

Remove Python startup keyword overrides
  CHANGELOG.md
  README.md
  docs/bindings/python.md
  docs/guides/graphql.md
  docs/snippets/python/hello_route.md
  docs/snippets/python/quickstart_routes.md
  examples/debug_test_app.py
  examples/query_params_app.py
  examples/simple_app.py
  packages/python/README.md
  packages/python/spikard/app.py
  packages/python/spikard/config.py
  packages/python/spikard/testing.py
  packages/python/tests/app_test.py
  scripts/readme_content/pkg_python_quickstart.md
Due: python

Remove stale implementation TODO comments
  crates/spikard-http/src/background.rs
  crates/spikard-node/src/test_client.rs
  packages/node/native/src/test_client.rs
Due: rust-core

Align Python codegen startup examples
  CHANGELOG.md
  crates/spikard-cli/src/codegen/openrpc/generators/python.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
  crates/spikard-cli/tests/openrpc_codegen_behavior.rs
  crates/spikard-cli/tests/openrpc_handler_generation.rs
Due: rust-cli

Add Node gRPC service registry
  CHANGELOG.md
  docs/bindings/typescript.md
  docs/guides/grpc-migration-guide.md
  docs/snippets/grpc/typescript/handler_basic.md
  docs/snippets/grpc/typescript/handler_streaming.md
  docs/snippets/grpc/typescript/registration.md
  packages/node/src/grpc.spec.ts
  packages/node/src/grpc.ts
  packages/node/src/index.ts
Due: node

Implement Rust protobuf code generation
  CHANGELOG.md
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/protobuf/generators/mod.rs
  crates/spikard-cli/src/codegen/protobuf/generators/rust_lang.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/protobuf/spec_parser.rs
Due: rust-cli

Implement Python auto-reload
  CHANGELOG.md
  packages/python/spikard/_internal/reload.py
  packages/python/spikard/app.py
  packages/python/tests/app_test.py
  packages/python/tests/reload_test.py
Due: python

Add Python gRPC app registration
  CHANGELOG.md
  crates/spikard-py/src/lib.rs
  packages/python/spikard/app.py
  packages/python/tests/app_test.py
Due: python

Fix gRPC migration guide examples
  docs/guides/grpc-migration-guide.md
Due: none

Add Node gRPC server registration
  CHANGELOG.md
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/server_configured_router_behavior.rs
  crates/spikard-node/src/lib.rs
  docs/bindings/typescript.md
  docs/guides/grpc-migration-guide.md
  docs/reference/init-advanced.md
  docs/snippets/grpc/typescript/handler_basic.md
  docs/snippets/grpc/typescript/registration.md
  examples/node/src/grpc/bidirectional-streaming.ts
  examples/node/src/grpc/client-streaming.ts
  examples/node/src/grpc/server-streaming.ts
  packages/node/src/app.spec.ts
  packages/node/src/app.ts
  packages/node/src/grpc.ts
  packages/node/src/index.ts
Due: rust-core, node

Clean Node gRPC example surface
  examples/node/src/grpc/README.md
  examples/node/src/grpc/bidirectional-streaming.ts
  examples/node/src/grpc/client-streaming.ts
  examples/node/src/grpc/server-streaming.ts
Due: none

Fix AsyncAPI version docs
  CHANGELOG.md
  README.md
  crates/spikard-cli/README.md
  docs/guides/code-generation.md
  docs/reference/init-advanced.md
  scripts/readme_content/crate_spikard_cli_quickstart.md
Due: rust-cli

Implement Python async startup and gRPC doc fixes
  CHANGELOG.md
  crates/spikard-py/src/lib.rs
  docs/snippets/grpc/php/handler_streaming.md
  docs/snippets/grpc/php/test_handler.md
  docs/snippets/grpc/rust/handler_basic.md
  docs/snippets/grpc/rust/registration.md
  packages/php/docs/GRPC.md
  packages/python/docs/GRPC.md
  packages/python/spikard/_spikard.pyi
  packages/python/tests/app_test.py
Due: python

Implement method-level Node gRPC registration
  CHANGELOG.md
  crates/spikard-http/src/grpc/mod.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/tests/grpc_integration_test.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
  crates/spikard-http/tests/server_configured_router_behavior.rs
  crates/spikard-node/src/grpc/handler.rs
  crates/spikard-node/src/grpc/mod.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/php/start.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/runtime/server_runner.rs
  docs/bindings/typescript.md
  docs/guides/grpc-migration-guide.md
  docs/snippets/grpc/typescript/handler_basic.md
  docs/snippets/grpc/typescript/registration.md
  examples/node/src/grpc/bidirectional-streaming.ts
  examples/node/src/grpc/client-streaming.ts
  examples/node/src/grpc/server-streaming.ts
  packages/node/src/app.spec.ts
  packages/node/src/app.ts
  packages/node/src/grpc.spec.ts
  packages/node/src/grpc.ts
  packages/node/src/index.ts
Due: rust-core, node

Add Ruby gRPC app registration
  CHANGELOG.md
  crates/spikard-rb/src/lib.rs
  crates/spikard-rb/src/runtime/server_runner.rs
  packages/ruby/lib/spikard/app.rb
  packages/ruby/sig/spikard.rbs
  packages/ruby/spec/app_spec.rb
Due: ruby

Add PHP gRPC app registration
  CHANGELOG.md
  crates/spikard-php/src/php/mod.rs
  crates/spikard-php/src/php/start.rs
  packages/php/src/App.php
  packages/php/stubs/ext.php
  packages/php/tests/AppBehavioralTest.php
  packages/php/tests/AppTest.php
Due: php

Fail fast on unsupported PHP AsyncAPI protocols
  CHANGELOG.md
  crates/spikard-cli/src/codegen/asyncapi/generators/php.rs
Due: rust-cli

Implement Ruby nested DI resolution
  CHANGELOG.md
  packages/ruby/lib/spikard/provide.rb
  packages/ruby/sig/spikard.rbs
  packages/ruby/spec/provide_support_spec.rb
Due: ruby

Implement GraphQL introspection JSON codegen
  CHANGELOG.md
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/graphql/spec_parser.rs
  crates/spikard-cli/tests/codegen_engine_behavior.rs
Due: rust-cli

Update gRPC testing ADR
  CHANGELOG.md
  docs/adr/0012-grpc-testing-infrastructure.md
Due: none

Add PHP AsyncAPI test app generation
  CHANGELOG.md
  crates/spikard-cli/src/codegen/asyncapi/mod.rs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/tests/codegen_engine_error_paths.rs
Due: rust-cli

Refresh stale architecture docs
  CHANGELOG.md
  docs/adr/0001-architecture-and-principles.md
  docs/features.md
  docs/reference/types.md
Due: none

Path conditions:
  rust-core: any of: crates/spikard/, crates/spikard-core/, crates/spikard-http/, crates/spikard-bindings-shared/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-cli: any of: crates/spikard-cli/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-graphql: any of: crates/spikard-graphql/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  python: any of: packages/python/spikard/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  node: any of: packages/node/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  ruby: any of: packages/ruby/lib/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  php: any of: packages/php/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
