Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

chore: update pnpm dependencies and clean lockfile
  pnpm-lock.yaml
Due: none

fix: CI Node Python version and docs visualization KeyError
  .github/workflows/ci-node.yaml
  tools/benchmark-harness/visualize_benchmarks.py
Due: none

fix: benchmark harness correctness, fairness, and schema compliance
  .github/actions/benchmark-framework/action.yaml
  .github/workflows/comparative-benchmarks.yaml
  tools/benchmark-harness/apps/elysia/server.ts
  tools/benchmark-harness/apps/fastapi/server.py
  tools/benchmark-harness/apps/fastify/server.ts
  tools/benchmark-harness/apps/hanami-api/server.rb
  tools/benchmark-harness/apps/hono/server.ts
  tools/benchmark-harness/apps/kito/server.ts
  tools/benchmark-harness/apps/litestar/server.py
  tools/benchmark-harness/apps/morojs/server.ts
  tools/benchmark-harness/apps/phalcon/server.php
  tools/benchmark-harness/apps/robyn/pyproject.toml
  tools/benchmark-harness/apps/robyn/server.py
  tools/benchmark-harness/apps/roda/server.rb
  tools/benchmark-harness/apps/schemas/parameter_schemas.json
  tools/benchmark-harness/apps/spikard-bun/server.ts
  tools/benchmark-harness/apps/spikard-node/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-node/package.json
  tools/benchmark-harness/apps/spikard-php/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-python/server.py
  tools/benchmark-harness/apps/spikard-ruby/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-rust/src/main.rs
  tools/benchmark-harness/apps/trongate/server.php
  tools/benchmark-harness/src/analysis.rs
  tools/benchmark-harness/src/compare/analyzer.rs
  tools/benchmark-harness/src/compare/runner.rs
  tools/benchmark-harness/src/comparison.rs
  tools/benchmark-harness/src/framework.rs
  tools/benchmark-harness/src/load_generator.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/src/server.rs
  tools/benchmark-harness/src/types.rs
  tools/benchmark-harness/tests/compare_test.rs
  tools/benchmark-harness/tests/integration_test.rs
  tools/benchmark-harness/tests/server_test.rs
  tools/benchmark-harness/tests/types_test.rs
Due: none

fix: remove invalid timeout-minutes from composite action
  .github/actions/benchmark-framework/action.yaml
Due: none

fix: update pnpm lockfile and fix hanami-api body parsing
  pnpm-lock.yaml
  tools/benchmark-harness/apps/hanami-api/server.rb
Due: none

fix: remove unsupported union return type in spikard-python benchmark
  tools/benchmark-harness/apps/spikard-python/server.py
Due: none

fix: switch hanami-api from Falcon to Puma server
  tools/benchmark-harness/apps/hanami-api/Gemfile
  tools/benchmark-harness/apps/hanami-api/Gemfile.lock
  tools/benchmark-harness/apps/hanami-api/server.rb
Due: none

fix: query fixture params, graceful workload skipping, kito multipart
  tools/benchmark-harness/apps/kito/server.ts
  tools/benchmark-harness/src/load_generator.rs
  tools/benchmark-harness/src/profile/runner.rs
  tools/benchmark-harness/src/schema/workload.rs
Due: none

fix: phalcon STDERR constant + duplicate @spikard/node package name
  crates/spikard-node/package.json
  tools/benchmark-harness/apps/phalcon/server.php
Due: none

fix: benchmark harness overhaul — spikard bindings, openswoole, visualizations
  .github/workflows/comparative-benchmarks.yaml
  tools/benchmark-harness/apps/phalcon/Dockerfile
  tools/benchmark-harness/apps/phalcon/server.php
  tools/benchmark-harness/apps/spikard-node/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-node/server.ts
  tools/benchmark-harness/apps/spikard-php/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-php/server.php
  tools/benchmark-harness/apps/spikard-php/start.sh
  tools/benchmark-harness/apps/spikard-ruby/SKIP_BENCHMARK
  tools/benchmark-harness/apps/spikard-ruby/server.rb
  tools/benchmark-harness/apps/trongate/server.php
  tools/benchmark-harness/src/compare/analyzer.rs
  tools/benchmark-harness/src/compare/runner.rs
  tools/benchmark-harness/src/framework.rs
  tools/benchmark-harness/src/visualize.rs
  tools/benchmark-harness/visualize_benchmarks.py
Due: none

fix: benchmark failures + linting cleanup
  .github/actions/benchmark-framework/action.yaml
  biome.json
  snapshots/consolidated-profile.snapshot.json
  tools/benchmark-harness/apps/elysia/server.ts
  tools/benchmark-harness/apps/fastapi/server.py
  tools/benchmark-harness/apps/hono/server.ts
  tools/benchmark-harness/apps/kito/server.ts
  tools/benchmark-harness/apps/litestar/server.py
  tools/benchmark-harness/apps/morojs/server.ts
  tools/benchmark-harness/apps/robyn/pyproject.toml
  tools/benchmark-harness/apps/robyn/server.py
  tools/benchmark-harness/apps/schemas/parameter_schemas.json
  tools/benchmark-harness/apps/spikard-php/composer.json
  tools/benchmark-harness/apps/spikard-ruby/Gemfile
  tools/benchmark-harness/apps/spikard-ruby/Gemfile.lock
  tools/benchmark-harness/src/framework.rs
  tools/benchmark-harness/visualize_benchmarks.py
  tools/test-generator/src/ts_target.rs
  uv.lock
Due: none

fix: install openswoole via setup-php for phalcon/trongate benchmarks
  .github/actions/benchmark-framework/action.yaml
  .github/workflows/comparative-benchmarks.yaml
Due: none

fix: replace removed openswoole procedural APIs with OOP equivalents
  tools/benchmark-harness/apps/phalcon/server.php
  tools/benchmark-harness/apps/trongate/server.php
Due: none

fix: restore @spikard/node package name for npm publishing
  crates/spikard-node/package.json
Due: none

fix: rename native napi package to @spikard/node-native, publish wrapper
  .github/workflows/publish.yaml
  crates/spikard-node/npm/darwin-arm64/README.md
  crates/spikard-node/npm/darwin-arm64/index.js
  crates/spikard-node/npm/darwin-arm64/package.json
  crates/spikard-node/npm/darwin-x64/README.md
  crates/spikard-node/npm/darwin-x64/package.json
  crates/spikard-node/npm/linux-x64-gnu/README.md
  crates/spikard-node/npm/linux-x64-gnu/package.json
  crates/spikard-node/npm/win32-x64-msvc/README.md
  crates/spikard-node/npm/win32-x64-msvc/package.json
  crates/spikard-node/package.json
  packages/node/package.json
  scripts/publish/node/publish-wrapper-package.sh
Due: none

fix: update Ruby ext Cargo.lock for v0.10.0
  packages/ruby/ext/spikard_rb/Cargo.lock
Due: none

fix: use workspace:* for @spikard/node-native dep, update lockfile
  packages/node/package.json
  pnpm-lock.yaml
Due: none

fix: fix node publish by reordering steps and removing committed npm/ dirs
  .github/workflows/publish.yaml
  .gitignore
  crates/spikard-node/npm/darwin-arm64/README.md
  crates/spikard-node/npm/darwin-arm64/index.d.ts
  crates/spikard-node/npm/darwin-arm64/index.js
  crates/spikard-node/npm/darwin-arm64/package.json
  crates/spikard-node/npm/darwin-x64/README.md
  crates/spikard-node/npm/darwin-x64/package.json
  crates/spikard-node/npm/linux-x64-gnu/README.md
  crates/spikard-node/npm/linux-x64-gnu/package.json
  crates/spikard-node/npm/win32-x64-msvc/README.md
  crates/spikard-node/npm/win32-x64-msvc/package.json
  scripts/publish/node/publish-main-package.sh
Due: none

redesign benchmark visualization: dark theme, 7 consolidated charts
  tools/benchmark-harness/src/visualize.rs
  tools/benchmark-harness/visualize_benchmarks.py
Due: none

feat: static response fast-path with HashMap router for all bindings
  crates/spikard-core/src/http.rs
  crates/spikard-core/src/router.rs
  crates/spikard-http/Cargo.toml
  crates/spikard-http/src/handler_trait.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/openapi/spec_generation.rs
  crates/spikard-http/src/server/fast_router.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/server_openapi_jsonrpc_static.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/php/server.rs
  crates/spikard-php/src/php/start.rs
  crates/spikard-php/src/php/testing.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/handler.rs
  crates/spikard-rb/src/lib.rs
  crates/spikard-rb/src/metadata/route_extraction.rs
  crates/spikard-rb/src/request.rs
  crates/spikard-rb/src/server.rs
  crates/spikard/src/lib.rs
  tools/app-generator/src/generators/spikard_rust.rs
Due: rust-core

perf: reduce per-request allocations across HTTP pipeline and all bindings
  crates/spikard-core/src/http.rs
  crates/spikard-http/src/cors.rs
  crates/spikard-http/src/handler_trait.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/server/fast_router.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/server_cors_preflight.rs
  crates/spikard-http/tests/server_openapi_jsonrpc_static.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/php/server.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/handler.rs
  crates/spikard-rb/src/metadata/route_extraction.rs
  crates/spikard-rb/src/server.rs
  tools/benchmark-harness/visualize_benchmarks.py
Due: rust-core

fix(ci): stabilize ruby lockfile and node publish
  .github/workflows/publish.yaml
  packages/ruby/ext/spikard_rb/Cargo.lock
  scripts/publish/node/verify-platform-packages.sh
Due: none

fix: Python API critical fixes + align all docs/examples with new API
  README.md
  docs/bindings/python.md
  docs/python/architecture.md
  docs/reference/api-python.md
  docs/snippets/python/validation_request_body.md
  docs/snippets/python/validation_response.md
  examples/di/README.md
  examples/di/python_basic.py
  examples/di/python_database.py
  examples/test_client_demo.py
  examples/test_simple.py
  packages/python/README.md
  packages/python/spikard/__init__.py
  packages/python/spikard/app.py
  packages/python/spikard/di.py
  packages/python/spikard/params.py
  packages/python/spikard/routing.py
  packages/python/spikard/sse.py
  packages/python/spikard/testing.py
  packages/python/spikard/types.py
  packages/python/spikard/websocket.py
  packages/python/tests/unit_app_test.py
Due: python

fix(ci): resolve Python lint errors and TestClient cookies support
  crates/spikard-py/src/testing/client.rs
  examples/di/python_basic.py
  examples/di/python_database.py
  packages/python/spikard/__init__.py
  packages/python/spikard/app.py
  packages/python/spikard/di.py
  packages/python/spikard/routing.py
  packages/python/spikard/sse.py
  packages/python/spikard/testing.py
  packages/python/spikard/types.py
  packages/python/spikard/websocket.py
  packages/python/tests/app_test.py
Due: python

perf(bench): convert benchmark handlers from async to sync where unnecessary
  tools/benchmark-harness/apps/fastify/server.ts
  tools/benchmark-harness/apps/spikard-bun/server.ts
  tools/benchmark-harness/apps/spikard-node/package.json
  tools/benchmark-harness/apps/spikard-node/server.ts
  tools/benchmark-harness/apps/spikard-python/server.py
Due: none

fix: resolve mypy errors in sse.py and testing.py
  .pre-commit-config.yaml
  Cargo.toml
  crates/spikard-cli/Cargo.toml
  crates/spikard-http/src/server/mod.rs
  crates/spikard-node/package.json
  crates/spikard-node/src/conversion_tests.rs
  crates/spikard-node/src/handler_output.rs
  e2e/node/package.json
  examples/graphql-node/package.json
  examples/node-simple/package.json
  examples/node/package.json
  packages/node/package.json
  packages/node/src/handler-wrapper.ts
  packages/node/src/server.ts
  packages/python/spikard/sse.py
  packages/python/spikard/testing.py
  pnpm-lock.yaml
  pyproject.toml
  tests/test_apps/node/package.json
  tools/benchmark-harness/apps/elysia/bun.lock
  tools/benchmark-harness/apps/fastify/package.json
  tools/benchmark-harness/apps/hono/package.json
  tools/benchmark-harness/apps/kito/package.json
  tools/benchmark-harness/apps/morojs/package.json
  tools/benchmark-harness/apps/roda/Gemfile.lock
  uv.lock
Due: rust-core, rust-cli, node

chore: apply ruff and biome auto-fixes
  packages/node/src/server.ts
  packages/python/spikard/sse.py
  pyproject.toml
  tools/benchmark-harness/apps/fastify/server.ts
Due: node

fix(benchmark): add tsx devDependency to spikard-node benchmark app
  tools/benchmark-harness/apps/spikard-node/package.json
Due: none

fix(benchmark): update pnpm-lock.yaml for spikard-node tsx dep
  pnpm-lock.yaml
Due: none

fix(benchmark): fix spikard-python route registration and spikard-node build
  .github/actions/benchmark-framework/action.yaml
  tools/benchmark-harness/apps/spikard-python/server.py
Due: none

docs: mention Robyn comparison in Python README benchmarks
  packages/python/README.md
Due: none

release: v0.10.1
  CHANGELOG.md
  Cargo.toml
  Taskfile.yaml
  composer.json
  crates/spikard-cli/Cargo.toml
  crates/spikard-core/README.md
  crates/spikard-http/README.md
  crates/spikard-node/package.json
  crates/spikard-py/pyproject.toml
  crates/spikard-rb-macros/Cargo.toml
  crates/spikard-rb/lib/spikard/version.rb
  crates/spikard/README.md
  e2e/rust/Cargo.toml
  examples/di/Cargo.toml
  examples/rust-lifecycle-hooks/Cargo.toml
  package.json
  packages/node/package.json
  packages/php/composer.json
  packages/python/pyproject.toml
  packages/ruby/ext/spikard_rb/Cargo.toml
  packages/ruby/lib/spikard/version.rb
  tests/test_apps/README.md
  tests/test_apps/node/README.md
  tests/test_apps/php/README.md
  tests/test_apps/ruby/README.md
  tests/test_apps/rust/Cargo.toml
  tests/test_apps/rust/README.md
  tools/app-generator/Cargo.toml
  tools/benchmark-harness/apps/spikard-rust/Cargo.toml
  tools/bindgen/Cargo.toml
  tools/test-generator/Cargo.toml
Due: rust-core, rust-cli

fix: update Ruby ext Cargo.lock for v0.10.1
  packages/ruby/ext/spikard_rb/Cargo.lock
Due: none

fix: resolve CI failures for Python tests and Ruby gem publishing
  .github/workflows/publish.yaml
  crates/spikard-py/src/lib.rs
  packages/python/tests/app_test.py
  packages/python/tests/handler_request_object_test.py
  packages/python/tests/upload_file_test.py
  packages/ruby/Gemfile
  packages/ruby/spikard.gemspec
  scripts/publish/ruby/install-deps-windows.ps1
  uv.lock
Due: none

fix: resolve ruff lint errors in test files
  packages/python/tests/app_test.py
  packages/python/tests/handler_request_object_test.py
Due: none

fix: add path_params and query_params to Request type stub
  packages/python/spikard/request.py
Due: python

Path conditions:
  rust-core: any of: crates/spikard/, crates/spikard-core/, crates/spikard-http/, crates/spikard-bindings-shared/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-cli: any of: crates/spikard-cli/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-graphql: any of: crates/spikard-graphql/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  python: any of: packages/python/spikard/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  node: any of: packages/node/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  ruby: any of: packages/ruby/lib/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  php: any of: packages/php/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
