Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

fix: add missing kotlin:e2e task
  Taskfile.yaml
Due: none

fix(workspace): exclude spikard-php from members to prevent Swift CI build failures
  Cargo.toml
Due: none

fix(ci): use setup-elixir action for aarch64 ImageOS normalization
  .github/workflows/publish.yaml
Due: none

fix(swift): remove duplicate SwiftPluginHelpers.swift (alef now emits ZSwiftPluginHelpers.swift)
  packages/swift/Sources/RustBridge/SwiftPluginHelpers.swift
Due: none

chore: untrack built go harness binary (CI builds fresh)
  .gitignore
  e2e/go/cmd/harness/harness
Due: none

refactor(spikard-core): remove and justify clippy allow annotations
  crates/spikard-core/src/bindings/response.rs
  crates/spikard-core/src/parameters.rs
  crates/spikard-core/src/problem.rs
  crates/spikard-core/src/router.rs
  crates/spikard-core/src/type_hints.rs
  crates/spikard-core/src/validation/error_mapper.rs
  crates/spikard-core/src/validation/mod.rs
Due: rust-core

refactor(spikard-codegen,spikard-http): consolidate and justify clippy allows
  crates/spikard-codegen/src/sql/annotations.rs
  crates/spikard-codegen/src/sql/mod.rs
  crates/spikard-codegen/src/sql/neutral_to_json_schema.rs
  crates/spikard-codegen/src/sql/openapi.rs
  crates/spikard-codegen/src/sql/route.rs
  crates/spikard-codegen/src/sql/sidecar.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-http/src/response.rs
Due: rust-core

fix(ci): build go harness and bundle java linux-x86_64 native lib before e2e
  .github/workflows/ci-e2e.yaml
Due: none

refactor(spikard-cli): fix 12 dead_code/unused warnings hidden by blanket allow
  crates/spikard-cli/src/codegen/asyncapi/generators/base.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/mod.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/php.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/python.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/ruby.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/rust.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/typescript.rs
  crates/spikard-cli/src/codegen/asyncapi/mod.rs
  crates/spikard-cli/src/codegen/graphql/generators/php.rs
  crates/spikard-cli/src/codegen/openrpc/generators/python.rs
  crates/spikard-cli/src/codegen/protobuf/generators/elixir.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/src/codegen/sql.rs
  crates/spikard-cli/src/lib.rs
  crates/spikard-cli/src/mcp/server.rs
Due: rust-cli

fix(php): register Method as real PHP class to match stub
  crates/spikard-php/src/lib.rs
  crates/spikard-php/src/method_enum.rs
  crates/spikard-php/src/service.rs
Due: none

fix(ci): rebase go ffi build step onto php commit
  .github/workflows/ci-e2e.yaml
Due: none

chore: reorder pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(tooling): exclude alef-generated artifacts from strict linters
  .gitignore
  .pre-commit-config.yaml
  tsconfig.json
Due: none

fix(http): sniff multipart bodies when Content-Type header is missing or wrong
  crates/spikard-http/src/server/handler.rs
Due: rust-core

chore(tooling): broaden tsc and markdownlint excludes for alef-generated TS and prose
  .pre-commit-config.yaml
  tsconfig.json
Due: none

fix(http): parse multipart bodies without a request validator
  crates/spikard-http/src/server/handler.rs
  docs/reference/api-c.md
  docs/reference/api-csharp.md
  docs/reference/api-dart.md
  docs/reference/api-elixir.md
  docs/reference/api-go.md
  docs/reference/api-java.md
  docs/reference/api-kotlin-android.md
  docs/reference/api-kotlin.md
  docs/reference/api-php.md
  docs/reference/api-python.md
  docs/reference/api-ruby.md
  docs/reference/api-rust.md
  docs/reference/api-swift.md
  docs/reference/api-typescript.md
  docs/reference/api-wasm.md
  docs/reference/api-zig.md
  docs/reference/types.md
  packages/dart/rust/src/frb_generated.rs
  packages/python/spikard/exceptions.py
Due: rust-core, python

chore: bump root package.json to rc.12 and apply palantir-java-format
  package.json
  test_native_load.java
Due: none

fix(http): only parse multipart bodies when a boundary is known
  crates/spikard-http/src/server/handler.rs
Due: rust-core

feat(taskfile): add test-apps:* for 9 languages
  Taskfile.yaml
Due: none

chore(deps): task upgrade across php/python/elixir/java/ruby/node/zig
  .gitignore
  crates/spikard-php/src/composer.lock
  crates/spikard-py/src/uv.lock
  packages/elixir/mix.lock
  packages/java/pom.xml
  packages/ruby/Gemfile.lock
  pnpm-lock.yaml
  test_apps/zig/build.zig.zon
Due: none

chore(release): bump root package.json to v0.15.6-rc.19 + fix test-apps:rust/php wiring
  Taskfile.yaml
  package.json
Due: none

fix(elixir): correct Windows target from gnu to msvc for rustler_precompiled
  packages/elixir/lib/spikard/native.ex
  packages/elixir/mix.exs
Due: none

fix(java): add config() method to App for server configuration
  packages/java/src/main/java/dev/spikard/App.java
Due: none

fix(java): use Arena.ofAuto() for temporary string allocations
  packages/java/src/main/java/dev/spikard/GraphQLRouteConfig.java
  packages/java/src/main/java/dev/spikard/RouteBuilder.java
Due: none

fix(go): configure host and port in StartBackground
  e2e/kotlin_android/settings.gradle.kts
  packages/go/service.go
Due: none

Path conditions:
  rust-core: any of: crates/spikard/, crates/spikard-core/, crates/spikard-http/, crates/spikard-bindings-shared/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-cli: any of: crates/spikard-cli/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-graphql: any of: crates/spikard-graphql/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  python: any of: packages/python/spikard/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  node: any of: packages/node/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  ruby: any of: packages/ruby/lib/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  php: any of: packages/php/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
