Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

docs: refresh Spikard branding assets
  docs/assets/favicon.ico
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/assets/og-image.png
  docs/assets/og-image.svg
  docs/assets/spikard-banner.png
  docs/assets/spikard-banner.svg
  docs/index.md
  docs/llms.txt
  docs/roadmap.md
  zensical.toml
Due: none

fix(ci): correct registry-availability checks in published-package tests
  .github/workflows/test-published-packages.yaml
Due: none

fix(ci): strip v-prefix when matching Packagist versions
  .github/workflows/test-published-packages.yaml
Due: none

chore(swift): update Package.swift with checksum for v0.16.1
  Package.swift
Due: none

fix(ci): skip Flutter install for the pure-Dart package build
  .github/workflows/publish.yaml
Due: none

fix(ci): build php-windows extension on nightly for abi_vectorcall
  .github/workflows/publish.yaml
Due: none

fix(ci): pin Homebrew formula to git tag+revision (not unstable archive)
  .github/workflows/publish.yaml
  scripts/publish/update-homebrew-formula.sh
Due: none

feat(docs): dark-first theme + magic-ring logo
  docs/assets/favicon.ico
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/css/extra.css
  zensical.toml
Due: none

fix(docs): recolor theme + logo to brand red; complete OG meta
  docs/assets/apple-touch-icon.png
  docs/assets/favicon.ico
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/css/extra.css
  docs/overrides/main.html
Due: none

revert(docs): restore the red S logo over the magic-ring mark
  docs/assets/apple-touch-icon.png
  docs/assets/favicon.ico
  docs/assets/favicon.svg
  docs/assets/logo.svg
Due: none

fix(ci): decouple snippet validation from the docs site build
  Taskfile.yaml
Due: none

fix(ci): rustfmt ergonomic extension + exclude generated spikard-wasm from clippy
  .task/languages/rust.yml
  crates/spikard-alef-ext/src/lib.rs
Due: none

fix(e2e): python harness uses the low-level spikard.service App
  crates/spikard-e2e-http/templates/python/app_harness.py.jinja
  e2e/python/app_harness.py
Due: none

test(e2e): add ergonomic Python smoke harness
  e2e/ergonomic/python/check.py
  e2e/ergonomic/python/server.py
Due: none

feat(ruby): working ergonomic body-DTO layer, verified end-to-end
  crates/spikard-alef-ext/src/templates/magnus/app.rb.jinja
  crates/spikard-alef-ext/src/templates/magnus/introspection.rb.jinja
  e2e/ergonomic/ruby/check.rb
  e2e/ergonomic/ruby/server.rb
  packages/ruby/lib/spikard/app.rb
  packages/ruby/lib/spikard/introspection.rb
Due: ruby

test(e2e): add Node ergonomic smoke harness
  .gitignore
  e2e/ergonomic/node/check.mjs
  e2e/ergonomic/node/server.mjs
Due: none

feat(go): ergonomic typed-handler + struct-DTO app layer
  crates/spikard-alef-ext/src/emit/go.rs
  crates/spikard-alef-ext/src/templates/go/app.go.jinja
  e2e/ergonomic/go/go.mod
  e2e/ergonomic/go/main.go
  packages/go/app.go
Due: none

fix(codegen): drop mypy, use pyrefly for Python quality gate
  CONTRIBUTING.md
  Taskfile.yaml
  alef.toml
  crates/spikard-cli/src/codegen/formatters/python.rs
  crates/spikard-cli/src/codegen/protobuf/generators/python.rs
  crates/spikard-cli/src/codegen/quality/mod.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/src/init/python.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
  crates/spikard-cli/tests/init_integration.rs
  docs/guides/code-generation.md
  docs/troubleshooting.md
  poly.toml
Due: rust-cli

fix(codegen): deterministic AsyncAPI fixture example key order
  crates/spikard-cli/src/codegen/asyncapi/spec_parser.rs
Due: rust-cli

fix(ci): correct published-package test Rust floor and PHP name
  .github/workflows/test-published-packages.yaml
Due: none

fix(ci): give the elixir e2e leg more time
  .github/workflows/ci-e2e.yaml
Due: none

feat(http): route-level body_limit and request_timeout
  crates/spikard-core/src/http.rs
  crates/spikard-core/src/router.rs
  crates/spikard-http/src/middleware/mod.rs
  crates/spikard-http/src/openapi/spec_generation.rs
  crates/spikard-http/src/server/handler.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/route_body_limit_and_timeout.rs
  crates/spikard-http/tests/server_auth_middleware_behavior.rs
  crates/spikard-http/tests/server_cors_preflight.rs
  crates/spikard-http/tests/server_method_router_additional_behavior.rs
  crates/spikard-http/tests/server_method_router_coverage.rs
  crates/spikard-http/tests/server_middleware_behavior.rs
  crates/spikard-http/tests/server_middleware_branches.rs
  crates/spikard-http/tests/server_openapi_jsonrpc_static.rs
  crates/spikard-http/tests/server_router_behavior.rs
  crates/spikard/src/lib.rs
Due: rust-core

feat(graphql): wire GraphQL execution into App routing
  Cargo.lock
  crates/spikard-graphql/src/error.rs
  crates/spikard-graphql/src/executor.rs
  crates/spikard/Cargo.toml
  crates/spikard/src/graphql_schemas.rs
  crates/spikard/src/lib.rs
  crates/spikard/tests/graphql_route_integration.rs
Due: rust-core, rust-graphql

fix: resolve graphql and todo cleanup
  .github/workflows/ci-e2e.yaml
  .github/workflows/test-published-packages.yaml
  Cargo.lock
  alef.toml
  crates/spikard-cli/src/codegen/asyncapi/generators/php.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/ruby.rs
  crates/spikard-cli/src/codegen/graphql/generators/ruby.rs
  crates/spikard-cli/src/codegen/graphql/generators/typescript.rs
  crates/spikard-cli/src/codegen/openrpc/generators/python.rs
  crates/spikard-cli/src/codegen/openrpc/generators/tests.rs
  crates/spikard-cli/src/codegen/openrpc/generators/typescript.rs
  crates/spikard-cli/src/codegen/php.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/src/codegen/ruby.rs
  crates/spikard-cli/src/codegen/typescript.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
  crates/spikard-graphql/Cargo.toml
  crates/spikard-graphql/src/dynamic.rs
  crates/spikard-graphql/src/error.rs
  crates/spikard-graphql/src/lib.rs
  crates/spikard-http/src/server/mod.rs
  crates/spikard-http/tests/route_body_limit_and_timeout.rs
  crates/spikard-wasm/src/lib.rs
  crates/spikard/src/lib.rs
  crates/spikard/tests/graphql_sdl_route_integration.rs
  docs/guides/code-generation.md
  fixtures/graphql_operations.json
  packages/swift/Sources/RustBridge/SwiftBridgeCore.swift
Due: rust-core, rust-cli, rust-graphql

chore(swift): update Package.swift with checksum for v0.17.0-rc.1
  Package.swift
Due: none

fix(publish): refresh stale dart and ruby sub-crate Cargo.lock
  packages/dart/rust/Cargo.lock
  packages/ruby/ext/spikard_rb/native/Cargo.lock
Due: none

fix(publish): pin homebrew formula revision to the release tag commit
  .github/workflows/publish.yaml
  scripts/publish/update-homebrew-formula.sh
Due: none

chore(swift): update Package.swift with checksum for v0.17.0-rc.2
  Package.swift
Due: none

Path conditions:
  rust-core: any of: crates/spikard/, crates/spikard-core/, crates/spikard-http/, crates/spikard-bindings-shared/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-cli: any of: crates/spikard-cli/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  rust-graphql: any of: crates/spikard-graphql/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  python: any of: packages/python/spikard/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  node: any of: packages/node/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  ruby: any of: packages/ruby/lib/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
  php: any of: packages/php/src/, but not: **/*_test.rs, **/*_spec.rs, **/tests/**, **/*.spec.ts, **/*.test.ts, **/spec/**, crates/spikard-py/src/**, crates/spikard-node/src/**, crates/spikard-rb/src/**, crates/spikard-php/src/**, **/generated/**, **/target/**, **/dist/**, **/build/**, **/examples/**, **/tools/**, **/.github/**, **/scripts/**, **/benches/**, **/vendor/**, **/node_modules/**, **/.gems/**, **/src/main.rs, **/src/bin/**, **/version.rb, **/version.py, packages/python/spikard/_internal.py, packages/python/spikard/background.py, packages/python/spikard/routing.py, packages/python/spikard/schema.py, packages/python/spikard/sse.py, packages/python/spikard/testing.py, packages/python/spikard/websocket.py
