Repository Goldziher/spikard: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, rust-cli, rust-graphql, python, node, ruby, php

.codecov.yml:

# Codecov Configuration for Spikard Multi-Language Monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  rust-core:
    paths:
      - crates/spikard/
      - crates/spikard-core/
      - crates/spikard-http/
      - crates/spikard-bindings-shared/
    target: 80%
    threshold: 2%

  rust-cli:
    paths:
      - crates/spikard-cli/
    target: 75%
    threshold: 3%

  rust-graphql:
    paths:
      - crates/spikard-graphql/
    target: 80%
    threshold: 2%

  python:
    paths:
      - packages/python/spikard/
    target: 80%
    threshold: 2%

  node:
    paths:
      - packages/node/src/
    target: 80%
    threshold: 2%

  ruby:
    paths:
      - packages/ruby/lib/
    target: 80%
    threshold: 2%

  php:
    paths:
      - packages/php/src/
    target: 80%
    threshold: 2%

ignore:
  # Test files
  - "**/*_test.rs"
  - "**/*_spec.rs"
  - "**/tests/**"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/spec/**"

  # FFI bindings (tested via language-specific tests)
  - "crates/spikard-py/src/**"
  - "crates/spikard-node/src/**"
  - "crates/spikard-rb/src/**"
  - "crates/spikard-php/src/**"

  # Generated code
  - "**/generated/**"
  - "**/target/**"
  - "**/dist/**"
  - "**/build/**"

  # Development & CI
  - "**/examples/**"
  - "**/tools/**"
  - "**/.github/**"
  - "**/scripts/**"
  - "**/benches/**"

  # Vendored dependencies
  - "**/vendor/**"
  - "**/node_modules/**"
  - "**/.gems/**"

  # Binary entry points
  - "**/src/main.rs"
  - "**/src/bin/**"

  # Version files
  - "**/version.rb"
  - "**/version.py"

  # Internal implementation files explicitly omitted per pyproject.toml
  - "packages/python/spikard/_internal.py"
  - "packages/python/spikard/background.py"
  - "packages/python/spikard/routing.py"
  - "packages/python/spikard/schema.py"
  - "packages/python/spikard/sse.py"
  - "packages/python/spikard/testing.py"
  - "packages/python/spikard/websocket.py"

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

fix: use bundle config instead of deprecated --without flag
  .github/workflows/publish.yaml
  scripts/publish/ruby/install-deps-windows.ps1
Due: none

fix: set BUNDLE_WITHOUT=test env for setup-ruby cache
  .github/workflows/publish.yaml
Due: none

fix: disable bundler-cache to avoid deployment mode grpc conflict
  .github/workflows/publish.yaml
Due: none

chore: standardize language versions across CI workflows
  .github/actions/benchmark-framework/action.yaml
  .github/actions/build-node-binding/action.yaml
  .github/actions/build-python-binding/action.yaml
  .github/actions/build-ruby-binding/action.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-profiling.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-published-packages.yaml
  tools/benchmark-harness/apps/fastapi/pyproject.toml
  tools/benchmark-harness/apps/litestar/pyproject.toml
  tools/benchmark-harness/apps/robyn/pyproject.toml
  tools/benchmark-harness/apps/spikard-python/pyproject.toml
Due: none

fix: resolve benchmark CI failures for Python and Ruby
  packages/python/spikard/_internal/field_definition.py
  packages/python/spikard/_internal/parsed_signature.py
  packages/ruby/ext/spikard_rb/Cargo.lock
  packages/ruby/spikard.gemspec
  tools/benchmark-harness/apps/spikard-ruby/Gemfile
Due: python

feat(elixir): add Stage 0 tooling and infrastructure for Elixir binding
  .github/workflows/ci-elixir.yaml
  Cargo.toml
  Taskfile.yaml
  crates/spikard-elixir/Cargo.toml
  crates/spikard-elixir/README.md
  crates/spikard-elixir/src/lib.rs
  packages/elixir/.credo.exs
  packages/elixir/.formatter.exs
  packages/elixir/README.md
  packages/elixir/lib/spikard.ex
  packages/elixir/lib/spikard/error.ex
  packages/elixir/lib/spikard/native.ex
  packages/elixir/lib/spikard/response.ex
  packages/elixir/mix.exs
  packages/elixir/test/spikard/response_test.exs
  packages/elixir/test/spikard_test.exs
  packages/elixir/test/test_helper.exs
Due: none

feat(elixir): implement Stage 1 core handler infrastructure
  crates/spikard-elixir/Cargo.toml
  crates/spikard-elixir/src/atoms.rs
  crates/spikard-elixir/src/conversion.rs
  crates/spikard-elixir/src/error.rs
  crates/spikard-elixir/src/handler.rs
  crates/spikard-elixir/src/lib.rs
  crates/spikard-elixir/src/server.rs
Due: none

feat(elixir): implement Stage 2 server and routing infrastructure
  packages/elixir/lib/spikard.ex
  packages/elixir/lib/spikard/native.ex
  packages/elixir/lib/spikard/request.ex
  packages/elixir/lib/spikard/router.ex
  packages/elixir/mix.exs
  packages/elixir/mix.lock
  packages/elixir/native/spikard_elixir
Due: none

fix: fix Elixir test generator pattern matching for 503 timeout handling
  e2e/elixir/test/generated/auth_test.exs
  e2e/elixir/test/generated/background_test.exs
  e2e/elixir/test/generated/body_limits_test.exs
  e2e/elixir/test/generated/compression_test.exs
  e2e/elixir/test/generated/content_types_test.exs
  e2e/elixir/test/generated/cookies_test.exs
  e2e/elixir/test/generated/cors_test.exs
  e2e/elixir/test/generated/di_test.exs
  e2e/elixir/test/generated/edge_cases_test.exs
  e2e/elixir/test/generated/graphql_test.exs
  e2e/elixir/test/generated/headers_test.exs
  e2e/elixir/test/generated/http_methods_test.exs
  e2e/elixir/test/generated/json_bodies_test.exs
  e2e/elixir/test/generated/lifecycle_hooks_test.exs
  e2e/elixir/test/generated/multipart_test.exs
  e2e/elixir/test/generated/path_params_test.exs
  e2e/elixir/test/generated/query_params_test.exs
  e2e/elixir/test/generated/rate_limit_test.exs
  e2e/elixir/test/generated/request_id_test.exs
  e2e/elixir/test/generated/request_timeout_test.exs
  e2e/elixir/test/generated/static_files_test.exs
  e2e/elixir/test/generated/status_codes_test.exs
  e2e/elixir/test/generated/streaming_test.exs
  e2e/elixir/test/generated/url_encoded_test.exs
  e2e/elixir/test/generated/validation_errors_test.exs
  tools/test-generator/src/elixir_tests.rs
Due: none

chore(elixir): add .gitignore files for build artifacts
  e2e/elixir/.gitignore
  packages/elixir/.gitignore
Due: none

feat(elixir): complete feature implementation with all tests passing
  packages/elixir/lib/spikard.ex
  packages/elixir/lib/spikard/background.ex
  packages/elixir/lib/spikard/handler_runner.ex
  packages/elixir/lib/spikard/native.ex
  packages/elixir/lib/spikard/sse.ex
  packages/elixir/lib/spikard/test_client.ex
  packages/elixir/native/spikard_elixir/Cargo.toml
  packages/elixir/native/spikard_elixir/src/atoms.rs
  packages/elixir/native/spikard_elixir/src/conversion.rs
  packages/elixir/native/spikard_elixir/src/di.rs
  packages/elixir/native/spikard_elixir/src/handler.rs
  packages/elixir/native/spikard_elixir/src/lib.rs
  packages/elixir/native/spikard_elixir/src/sse.rs
  packages/elixir/native/spikard_elixir/src/testing.rs
  packages/elixir/native/spikard_elixir/src/websocket.rs
  packages/elixir/test/spikard/auth/api_key_test.exs
  packages/elixir/test/spikard/di_test.exs
  packages/elixir/test/spikard/lifecycle_test.exs
  packages/elixir/test/spikard/upload_file_test.exs
Due: none

feat(elixir): integrate Elixir binding into release pipeline, docs, and tooling
  .github/workflows/publish.yaml
  CONTRIBUTING.md
  OPENAPI_ELIXIR_IMPLEMENTATION.md
  README.md
  Taskfile.yaml
  docs/bindings/elixir.md
  docs/getting-started/installation.md
  examples/README.md
  examples/elixir/01_basic_server.exs
  examples/elixir/02_validation.exs
  examples/elixir/03_streaming.exs
  examples/elixir/04_websocket_sse.exs
  examples/elixir/05_lifecycle_hooks.exs
  examples/elixir/README.md
  packages/elixir/README.md
  packages/elixir/mix.exs
  scripts/publish/check_hex.sh
  scripts/publish/prepare-metadata.sh
  scripts/sync_versions.py
  tests/test_apps/README.md
  tests/test_apps/elixir/.gitignore
  tests/test_apps/elixir/lib/test_app.ex
  tests/test_apps/elixir/mix.exs
  tests/test_apps/elixir/test/test_helper.exs
  tests/test_apps/elixir/test/test_published_test.exs
  tests/test_apps/scripts/update-versions.sh
Due: none

fix: unblock failing CI checks for elixir, python, and node
  crates/spikard-elixir/Cargo.toml
  crates/spikard-elixir/src/conversion.rs
  crates/spikard-elixir/src/handler.rs
  crates/spikard-elixir/src/server.rs
  crates/spikard-elixir/src/testing.rs
  crates/spikard-elixir/src/websocket.rs
  packages/elixir/native/spikard_elixir/src/testing.rs
  packages/node/src/error-boundary.spec.ts
  packages/python/spikard/_internal/parsed_signature.py
  packages/python/spikard/di.py
  tests/test_apps/python/test_published.py
Due: python

chore(pre-commit): align prek hooks and fix cross-language lint issues
  .pre-commit-config.yaml
  Cargo.toml
  crates/spikard-cli/Cargo.toml
  crates/spikard-core/Cargo.toml
  crates/spikard-elixir/Cargo.toml
  crates/spikard-node/Cargo.toml
  crates/spikard-php/Cargo.toml
  deny.toml
  e2e/elixir/lib/e2e_elixir_app/static_assets/static_files_static_file_server_returns_text_file/public_0/hello.txt
  e2e/elixir/lib/e2e_elixir_app/static_assets/static_files_static_server_returns_index_html_for_directory/app_0/index.html
  e2e/elixir/lib/e2e_elixir_app/static_assets/static_files_static_server_returns_index_html_for_directory/app_0/styles/main.css
  e2e/php/app/main.php
  e2e/php/app/routes.json
  e2e/python/app/main.py
  packages/node/native/Cargo.toml
  packages/node/src/grpc_test_client.ts
  packages/python/pyproject.toml
  packages/ruby/spec/schema_spec.rb
  pyproject.toml
  tarpaulin.toml
  tests/test_apps/python/pyproject.toml
  tools/benchmark-harness/apps/spikard-python/pyproject.toml
  tools/bindgen/Cargo.toml
Due: rust-core, rust-cli, node

chore: centralize gitignore rules at repository root
  .gitignore
  Taskfile.yaml
  e2e/elixir/.gitignore
  packages/elixir/.gitignore
  packages/php/.gitignore
  packages/ruby/.gitignore
  tests/test_apps/elixir/.gitignore
  tests/test_apps/ruby/.gitignore
  tools/benchmark-harness/apps/phalcon/.gitignore
Due: none

ci: harden Hex publish and validate released Elixir package
  .github/workflows/publish.yaml
  .github/workflows/test-published-packages.yaml
  scripts/publish/prepare-metadata.sh
Due: none

ci: publish Hex using repo secret (no environment)
  .github/workflows/publish.yaml
Due: none

ci(ruby): drop --locked for vendored extension builds
  packages/ruby/ext/spikard_rb/extconf.rb
Due: none

chore(python): ruff-fix and align formatting with CI
  .pre-commit-config.yaml
  e2e/python/app/main.py
  packages/python/spikard/_internal/converters.py
  packages/python/spikard/_internal/json_schema.py
  packages/python/spikard/_internal/parsed_signature.py
  packages/python/spikard/di.py
  packages/python/spikard/introspection.py
  packages/python/spikard/schema.py
  packages/python/spikard/sse.py
  packages/python/spikard/testing.py
  packages/python/spikard/websocket.py
  testing_data/scripts/generate_fixture_app.py
  tests/test_grpc_python.py
Due: python

Fix elixir lifecycle hooks and python 3.10 compatibility
  crates/spikard-elixir/src/atoms.rs
  crates/spikard-elixir/src/handler.rs
  crates/spikard-elixir/src/lib.rs
  crates/spikard-elixir/src/lifecycle.rs
  crates/spikard-elixir/src/server.rs
  crates/spikard-elixir/src/testing.rs
  e2e/python/app/main.py
  examples/di/python_database.py
  packages/elixir/native/spikard_elixir/src/atoms.rs
  packages/elixir/native/spikard_elixir/src/handler.rs
  packages/elixir/native/spikard_elixir/src/lib.rs
  packages/elixir/native/spikard_elixir/src/lifecycle.rs
  packages/elixir/native/spikard_elixir/src/server.rs
  packages/elixir/native/spikard_elixir/src/testing.rs
  packages/python/spikard/_internal/async_generator_wrapper.py
  packages/python/spikard/_internal/converters.py
  packages/python/spikard/_internal/json_schema.py
  packages/python/spikard/_internal/parsed_signature.py
  packages/python/spikard/background.py
  packages/python/spikard/di.py
  packages/python/spikard/introspection.py
  packages/python/spikard/params.py
  packages/python/spikard/schema.py
  packages/python/spikard/sse.py
  packages/python/spikard/testing.py
  packages/python/spikard/types.py
  packages/python/spikard/websocket.py
  packages/python/tests/di_test.py
  packages/python/tests/handler_request_object_test.py
  pyproject.toml
  testing_data/scripts/generate_fixture_app.py
  tests/test_grpc_python.py
  tools/benchmark-harness/profiling/python_metrics.py
Due: python

refactor(python): remove ws/sse factory style
  docs/bindings/python.md
  docs/playbooks/streaming.md
  docs/snippets/python/websocket.md
  packages/python/README.md
  packages/python/spikard/app.py
  packages/python/spikard/websocket.py
  packages/python/tests/unit_app_test.py
Due: python

fix(node): preserve DI handler dependencies
  crates/spikard-node/src/lib.rs
  crates/spikard-node/src/test_client.rs
Due: none

test(spikard-http): cover grpc routing streaming paths
  crates/spikard-http/src/server/grpc_routing.rs
Due: rust-core

chore(rustfmt): format grpc routing tests
  crates/spikard-http/src/server/grpc_routing.rs
Due: rust-core

fix(node): handle streaming response body errors in test client
  crates/spikard-http/src/testing.rs
  crates/spikard-node/src/test_client.rs
Due: rust-core

chore(codecov): ignore spikard-elixir crate
  .codecov.yml
Due: none

chore(coverage): exclude spikard-elixir from tarpaulin
  .github/workflows/ci-rust.yaml
  tarpaulin.toml
Due: none

fix(elixir): deflake integration server start
  packages/elixir/test/integration_test.exs
Due: none

chore: run task update and unfreeze ruby bundler
  .pre-commit-config.yaml
  Cargo.toml
  Taskfile.yaml
  crates/spikard-cli/Cargo.toml
  crates/spikard-py/pyproject.toml
  package.json
  packages/node/package.json
  packages/python/pyproject.toml
  pnpm-lock.yaml
  pyproject.toml
  tools/benchmark-harness/apps/hanami-api/Gemfile.lock
  tools/benchmark-harness/apps/roda/Gemfile.lock
  uv.lock
Due: rust-cli

chore(release): prepare v0.11.0
  CHANGELOG.md
  Cargo.toml
  Taskfile.yaml
  composer.json
  crates/spikard-cli/Cargo.toml
  crates/spikard-core/README.md
  crates/spikard-http/README.md
  crates/spikard-node/package.json
  crates/spikard-py/pyproject.toml
  crates/spikard-rb-macros/Cargo.toml
  crates/spikard-rb/lib/spikard/version.rb
  crates/spikard/README.md
  e2e/rust/Cargo.toml
  examples/di/Cargo.toml
  examples/rust-lifecycle-hooks/Cargo.toml
  package.json
  packages/elixir/mix.exs
  packages/elixir/native/spikard_elixir/Cargo.toml
  packages/node/package.json
  packages/php/composer.json
  packages/python/pyproject.toml
  packages/ruby/ext/spikard_rb/Cargo.toml
  packages/ruby/lib/spikard/version.rb
  tests/test_apps/README.md
  tests/test_apps/node/README.md
  tests/test_apps/php/README.md
  tests/test_apps/ruby/README.md
  tests/test_apps/rust/Cargo.toml
  tests/test_apps/rust/README.md
  tools/app-generator/Cargo.toml
  tools/benchmark-harness/apps/spikard-rust/Cargo.toml
  tools/bindgen/Cargo.toml
  tools/test-generator/Cargo.toml
Due: rust-core, rust-cli

docs(readme): refresh badges and elixir binding docs
  README.md
  crates/spikard-cli/README.md
  crates/spikard-core/README.md
  crates/spikard-elixir/README.md
  crates/spikard-http/README.md
  crates/spikard-node/README.md
  crates/spikard-py/README.md
  crates/spikard-rb/README.md
  crates/spikard/README.md
  examples/README.md
  examples/schemas/README.md
  packages/elixir/README.md
  packages/node/README.md
  packages/php/README.md
  packages/python/README.md
  packages/ruby/README.md
  testing_data/di/README.md
  tools/benchmark-harness/README.md
Due: rust-core, rust-cli

fix(release): harden Hex publish packaging and idempotency
  .github/workflows/publish.yaml
  packages/elixir/LICENSE
  packages/elixir/README.md
  packages/elixir/mix.exs
Due: none

ci(release): enforce idempotent publish checks across registries
  .github/workflows/publish.yaml
  scripts/publish/check_packagist.sh
  scripts/publish/node/publish-main-package.sh
  scripts/publish/node/publish-native-packages.sh
  scripts/publish/node/publish-wrapper-package.sh
Due: none
