Repository Goldziher/spikard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruby-format-check, ruby-lint-check, typescript-typecheck, php-format-check, php-lint-check, elixir-format-check, elixir-lint-check

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - tools
  - packages/python

ruby-format-check:
  name: Ruby format check
  entry: task ruby:format:check
  language: system
  pass_filenames: false
  require_serial: true

ruby-lint-check:
  name: Ruby lint check
  entry: task ruby:lint:check
  language: system
  pass_filenames: false
  require_serial: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: pnpm --filter @spikard/node run typecheck
  language: system
  pass_filenames: false
  require_serial: true

php-format-check:
  name: PHP format check
  entry: task php:format:check
  language: system
  pass_filenames: false
  require_serial: true

php-lint-check:
  name: PHP lint check
  entry: task php:lint:check
  language: system
  pass_filenames: false
  require_serial: true

elixir-format-check:
  name: Elixir format check
  entry: task elixir:format:check
  language: system
  pass_filenames: false
  require_serial: true

elixir-lint-check:
  name: Elixir lint check
  entry: task elixir:lint:check
  language: system
  pass_filenames: false
  require_serial: true

ci: add ci-wasm workflow for wasm build and typecheck
  .github/workflows/ci-wasm.yaml
Due: none

ci: add ci-ffi workflow with cross-platform build matrix
  .github/workflows/ci-ffi.yaml
Due: none

chore: add README templates and snippets for alef readme generation
  templates/readme/go.md
  templates/readme/language_package.md
  templates/readme/partials/badges.html.jinja
  templates/readme/partials/installation.md.jinja
  templates/readme/python.md
Due: none

chore: configure [readme] section in alef.toml for all 15 bindings
  alef.toml
Due: none

chore: regenerate all binding READMEs via alef
  .rumdl.toml
  crates/spikard-ffi/README.md
  crates/spikard-node/README.md
  crates/spikard-wasm/README.md
  packages/csharp/README.md
  packages/dart/README.md
  packages/elixir/README.md
  packages/go/README.md
  packages/java/README.md
  packages/kotlin/README.md
  packages/php/README.md
  packages/python/README.md
  packages/ruby/README.md
  packages/swift/README.md
  packages/zig/README.md
Due: none

chore(e2e): bump alef to 0.11.25, regenerate Node e2e tests
  alef.toml
  e2e/node/globalSetup.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/di.test.ts
  e2e/node/tests/grpc.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/node/tests/response.test.ts
  e2e/node/tests/server_config.test.ts
  e2e/node/tests/sse.test.ts
  e2e/node/vitest.config.ts
Due: typescript-typecheck

chore(e2e): add go module path override in call config
  alef.toml
Due: none

feat(fixtures): add websocket coverage
  fixtures/websocket.json
Due: none

feat(fixtures): add asyncapi 3.0.0 coverage
  fixtures/asyncapi.json
Due: none

feat(fixtures): add openrpc coverage
  fixtures/openrpc.json
Due: none

feat(fixtures): add graphql operations coverage
  fixtures/graphql_operations.json
Due: none

chore(generated): refresh non-wasm bindings after fixture and Blocker A regen
  packages/csharp/src/Spikard/ComplexityLimitExceededException.cs
  packages/csharp/src/Spikard/DepthLimitExceededException.cs
  packages/csharp/src/Spikard/ValidationErrorException.cs
  packages/dart/lib/src/spikard.dart
  packages/go/binding.go
  packages/php/stubs/spikard_php_extension.php
  packages/swift/Sources/Spikard/Spikard.swift
  packages/swift/rust/build.rs
  packages/swift/rust/src/lib.rs
  packages/wasm/src/index.ts
  packages/zig/src/spikard.zig
Due: php-format-check, php-lint-check

docs: add root README
  README.md
Due: none

docs: add CHANGELOG entry for root README
  CHANGELOG.md
Due: none

chore(ci,generated): bump alef to 0.12.7 + fix docs alef-not-found
  .github/workflows/ci-validate.yaml
  .github/workflows/docs.yaml
  alef.toml
  crates/spikard-elixir/src/spikard/native.ex
  packages/csharp/src/Spikard/DepthLimitExceededException.cs
  packages/go/binding.go
  packages/java/src/main/java/dev/spikard/ValidationErrorException.java
  packages/php/stubs/spikard_php_extension.php
  packages/ruby/sig/types.rbs
Due: ruby-format-check, ruby-lint-check, php-format-check, php-lint-check

chore: gitignore Dart/Swift/Zig/Gradle build caches; untrack stale entries
  .gitignore
  e2e/dart/.dart_tool/package_config.json
  e2e/dart/.dart_tool/package_graph.json
  e2e/kotlin/.gradle/9.5.0/checksums/checksums.lock
  e2e/kotlin/.gradle/9.5.0/checksums/md5-checksums.bin
  e2e/kotlin/.gradle/9.5.0/checksums/sha1-checksums.bin
  e2e/kotlin/.gradle/9.5.0/executionHistory/executionHistory.bin
  e2e/kotlin/.gradle/9.5.0/executionHistory/executionHistory.lock
  e2e/kotlin/.gradle/9.5.0/fileChanges/last-build.bin
  e2e/kotlin/.gradle/9.5.0/fileHashes/fileHashes.bin
  e2e/kotlin/.gradle/9.5.0/fileHashes/fileHashes.lock
  e2e/kotlin/.gradle/9.5.0/fileHashes/resourceHashesCache.bin
  e2e/kotlin/.gradle/9.5.0/gc.properties
  e2e/kotlin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  e2e/kotlin/.gradle/buildOutputCleanup/cache.properties
  e2e/kotlin/.gradle/buildOutputCleanup/outputFiles.bin
  e2e/kotlin/.gradle/file-system.probe
  e2e/kotlin/.gradle/vcs-1/gc.properties
Due: none

feat(publish): add Java/Kotlin/C#/Dart/Gleam/Swift/Zig/WASM publish jobs
  .github/workflows/dart-publish.yaml
  .github/workflows/publish.yaml
  scripts/publish/prepare-metadata.sh
Due: none

fix(publish): wire Kotlin Maven Central via vanniktech plugin
  .github/workflows/publish.yaml
  packages/kotlin/build.gradle.kts
Due: none

chore: shared pre-commit-hooks; bump alef pin to 0.12.10
  .github/workflows/ci-validate.yaml
  .github/workflows/docs.yaml
  .pre-commit-config.yaml
  alef.toml
  crates/spikard-elixir/src/spikard/native.ex
  crates/spikard-rb/src/lib.rs
  e2e/python/__init__.py
  e2e/python/pyproject.toml
  e2e/python/tests/__init__.py
  packages/csharp/src/Spikard/ValidationErrorException.cs
  packages/kotlin/src/main/kotlin/dev/spikard/kt/Spikard.kt
  packages/swift/Examples/Demo/main.swift
  packages/swift/Package.swift
  packages/swift/Tests/SpikardTests/SpikardTests.swift
Due: mypy

fix(ci): pin alef to released 0.12.7 (git) / 0.12.6 (crates.io)
  .github/workflows/ci-validate.yaml
  .github/workflows/docs.yaml
  .pre-commit-config.yaml
  alef.toml
Due: none

feat(wasm): full HTTP surface — Handler, Router, Response on wasm32-unknown-unknown
  .github/workflows/ci-wasm.yaml
  alef.toml
  crates/spikard-http/Cargo.toml
  crates/spikard-http/src/jsonrpc/http_handler.rs
  crates/spikard-http/src/lib.rs
  crates/spikard-wasm/Cargo.toml
  crates/spikard-wasm/README.md
  crates/spikard-wasm/src/dispatch.rs
  crates/spikard-wasm/src/lib.rs
Due: none

chore(generated): regen bindings against alef Value-as-Json fix
  crates/spikard-elixir/src/lib.rs
  crates/spikard-ffi/include/spikard.h
  crates/spikard-ffi/src/lib.rs
  crates/spikard-node/src/lib.rs
  crates/spikard-php/src/lib.rs
  crates/spikard-py/src/lib.rs
  crates/spikard-rb/src/lib.rs
  crates/spikard-wasm/src/lib.rs
  packages/csharp/src/Spikard/JsonRpcMethodInfo.cs
  packages/csharp/src/Spikard/ProblemDetails.cs
  packages/csharp/src/Spikard/Response.cs
  packages/csharp/src/Spikard/SseEvent.cs
  packages/go/binding.go
  packages/java/src/main/java/dev/spikard/ComplexityLimitExceededException.java
  packages/java/src/main/java/dev/spikard/JsonRpcMethodInfo.java
  packages/java/src/main/java/dev/spikard/ProblemDetails.java
  packages/java/src/main/java/dev/spikard/Response.java
  packages/java/src/main/java/dev/spikard/ResponseBuilder.java
  packages/java/src/main/java/dev/spikard/SseEvent.java
  packages/java/src/main/java/dev/spikard/ValidationErrorException.java
  packages/python/spikard/_spikard.pyi
  packages/python/spikard/options.py
  packages/ruby/sig/types.rbs
Due: mypy, ruby-format-check, ruby-lint-check

chore(e2e/zig): regenerate with DebugAllocator; all tests pass
  e2e/zig/src/asyncapi_test.zig
  e2e/zig/src/auth_test.zig
  e2e/zig/src/background_tasks_test.zig
  e2e/zig/src/background_test.zig
  e2e/zig/src/body_limits_test.zig
  e2e/zig/src/compression_test.zig
  e2e/zig/src/content_types_test.zig
  e2e/zig/src/cookies_test.zig
  e2e/zig/src/cors_test.zig
  e2e/zig/src/di_test.zig
  e2e/zig/src/edge_cases_test.zig
  e2e/zig/src/graphql_operations_test.zig
  e2e/zig/src/graphql_schema_test.zig
  e2e/zig/src/grpc_test.zig
  e2e/zig/src/headers_test.zig
  e2e/zig/src/http_methods_test.zig
  e2e/zig/src/json_bodies_test.zig
  e2e/zig/src/jsonrpc_test.zig
  e2e/zig/src/lifecycle_hooks_test.zig
  e2e/zig/src/multipart_test.zig
  e2e/zig/src/openapi_test.zig
  e2e/zig/src/openrpc_test.zig
  e2e/zig/src/path_params_test.zig
  e2e/zig/src/problem_details_test.zig
  e2e/zig/src/query_params_test.zig
  e2e/zig/src/rate_limit_test.zig
  e2e/zig/src/request_id_test.zig
  e2e/zig/src/request_timeout_test.zig
  e2e/zig/src/response_test.zig
  e2e/zig/src/server_config_test.zig
  e2e/zig/src/sse_test.zig
  e2e/zig/src/static_files_test.zig
  e2e/zig/src/status_codes_test.zig
  e2e/zig/src/streaming_test.zig
  e2e/zig/src/upload_test.zig
  e2e/zig/src/url_encoded_test.zig
  e2e/zig/src/validation_errors_test.zig
  e2e/zig/src/websocket_test.zig
Due: none

feat(spikard-http): expose WebSocket close codes
  crates/spikard-http/Cargo.toml
  crates/spikard-http/src/testing.rs
  crates/spikard-http/src/testing/test_client.rs
  crates/spikard-http/src/websocket.rs
  crates/spikard-http/tests/test_client_websocket.rs
  crates/spikard-http/tests/testing_module_coverage.rs
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(packages/node|crates/spikard-node|e2e/node|examples/node|examples/node-simple|examples/graphql-node|tests/test_apps/node)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-format-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-lint-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
