Repository Goldziher/spikard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruby-format-check, ruby-lint-check, typescript-typecheck, php-format-check, php-lint-check, elixir-format-check, elixir-lint-check

Path conditions:
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(packages/node|crates/spikard-node|e2e/node|examples/node|examples/node-simple|examples/graphql-node|tests/test_apps/node)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-format-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-lint-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/

Implement PHP extension release installer
  .github/workflows/publish.yaml
  CHANGELOG.md
  packages/php/bin/install-extension.php
  packages/php/src/Support/ExtensionInstaller.php
  packages/php/tests/ExtensionInstallerTest.php
  scripts/publish/php/upload-release-assets.sh
Due: php-format-check, php-lint-check

Fix Rust quality validation
  CHANGELOG.md
  crates/spikard-cli/src/codegen/quality/validator.rs
Due: none

Add protobuf include path resolution
  CHANGELOG.md
  crates/spikard-cli/src/cli.rs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/protobuf/spec_parser.rs
  crates/spikard-cli/tests/cli_more_command_coverage.rs
Due: none

Fix codegen CLI documentation drift
  CHANGELOG.md
  docs/adr/0004-code-generation.md
  docs/guides/code-generation.md
Due: none

Align PHP install docs with plugin flow
  docs/bindings/php.md
  docs/getting-started/installation.md
Due: none

Wire codegen validation and PHP install plugin
  CHANGELOG.md
  crates/spikard-cli/src/cli.rs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/mod.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
  examples/node/src/grpc/README.md
  examples/node/src/grpc/bidirectional-streaming.ts
  examples/node/src/grpc/server-streaming.ts
  packages/php/README.md
  packages/php/composer.json
  packages/php/docs/GRPC.md
  packages/php/phpstan.neon
  packages/php/src/Composer/ExtensionInstallerPlugin.php
  packages/php/src/Support/ExtensionInstaller.php
  packages/php/stubs/composer_plugin.php
  packages/php/tests/ExtensionInstallerTest.php
  scripts/readme_config.yaml
  scripts/readme_content/pkg_php_extra.md
  tools/test-generator/README.md
  tools/test-generator/src/main.rs
  tools/test-generator/src/ts_target.rs
Due: typescript-typecheck, php-format-check, php-lint-check

Fix Python test client transport selection
  CHANGELOG.md
  crates/spikard-http/src/testing/test_client.rs
  crates/spikard-py/src/testing/client.rs
Due: none

Remove Python asyncio deprecation warnings
  CHANGELOG.md
  crates/spikard-py/src/handler.rs
  packages/python/tests/upload_file_test.py
Due: mypy

Fix Python binding install documentation
  CHANGELOG.md
  docs/bindings/python.md
Due: none

Wire Ruby lifecycle hook test generation
  CHANGELOG.md
  tools/test-generator/src/ruby_app.rs
Due: none

Fix Python upload async file IO and Elixir install docs
  CHANGELOG.md
  docs/bindings/elixir.md
  docs/getting-started/installation.md
  packages/elixir/README.md
  packages/python/spikard/datastructures.py
  packages/python/tests/datastructures_test.py
  scripts/readme_config.yaml
Due: mypy

Fix docs parity for install, workers, and Python examples
  CHANGELOG.md
  docs/bindings/typescript.md
  docs/guides/configuration.md
  packages/python/README.md
  scripts/readme_config.yaml
Due: none

Wire PHP server lifecycle hooks into runtime config
  CHANGELOG.md
  crates/spikard-php/src/php/server.rs
  crates/spikard-php/src/php/start.rs
Due: none

Remove dead CLI placeholder codegen scaffolding
  CHANGELOG.md
  crates/spikard-cli/src/codegen/graphql/mod.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-rb/src/grpc/handler.rs
Due: none

Wire Ruby project scaffolding in init engine
  CHANGELOG.md
  crates/spikard-cli/src/init/engine.rs
  crates/spikard-cli/tests/init_integration.rs
Due: none

feat(http): add grpc request compression and streaming fallbacks
  CHANGELOG.md
  crates/spikard-http/src/grpc/framing.rs
  crates/spikard-http/src/grpc/handler.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
Due: none

chore: enable builtins and moderate token reduction
  .ai-rulez/config.yaml
Due: none

chore: switch to path-based module includes from kreuzberg-dev/ai-rulez
  .ai-rulez/config.yaml
Due: none

fix(http): enforce gRPC wire framing across request/response paths
  CHANGELOG.md
  crates/spikard-http/src/grpc/framing.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/src/server/grpc_routing.rs
  crates/spikard-http/tests/grpc_server_streaming.rs
Due: none

fix(di): make factory builder fallible instead of panicking
  CHANGELOG.md
  crates/spikard-core/src/di/container.rs
  crates/spikard-core/src/di/factory.rs
  crates/spikard-core/src/di/mod.rs
  crates/spikard-http/src/lib.rs
Due: none

fix(node-native): preserve route DI handler dependencies
  CHANGELOG.md
  packages/node/native/src/lib.rs
Due: none

test(grpc): replace python streaming placeholders with real contracts
  CHANGELOG.md
  tests/test_grpc_python.py
Due: mypy

feat(node-grpc): emit true server-stream message sequences
  CHANGELOG.md
  crates/spikard-cli/src/init/php.rs
  crates/spikard-cli/src/init/ruby.rs
  crates/spikard-cli/src/init/rust_lang.rs
  crates/spikard-cli/src/init/typescript.rs
  crates/spikard-core/src/router.rs
  crates/spikard-http/src/grpc/mod.rs
  crates/spikard-http/src/middleware/multipart.rs
  crates/spikard-node/src/grpc/handler.rs
  crates/spikard-node/src/grpc/mod.rs
  crates/spikard-node/src/lib.rs
  packages/node/src/grpc.spec.ts
  packages/node/src/grpc.ts
  packages/node/src/index.ts
Due: typescript-typecheck

chore: remove stale TODO markers from active configs
  CHANGELOG.md
  crates/spikard-cli/Cargo.toml
  packages/php/.php-cs-fixer.dist.php
  packages/ruby/.rubocop.yml
Due: php-format-check, php-lint-check

fix(task): point node tasks at active native package
  CHANGELOG.md
  Taskfile.yaml
Due: none

fix(node): restore lint-clean grpc app registration
  CHANGELOG.md
  packages/node/src/app.spec.ts
  packages/node/src/app.ts
Due: typescript-typecheck

Fix update tooling and normalize action refs
  .github/actions/benchmark-framework/action.yaml
  .github/actions/build-wheels/action.yaml
  .github/actions/setup-benchmark-harness/action.yaml
  .github/actions/setup-benchmark-tools/action.yaml
  .github/actions/setup-node-workspace/action.yaml
  .github/actions/setup-python-env/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/ci-node.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-published-packages.yaml
Due: none

Fix stale test fixtures and grpc harnesses
  crates/spikard-cli/tests/openrpc_codegen_behavior.rs
  crates/spikard-cli/tests/openrpc_handler_generation.rs
  crates/spikard-http/tests/server_configured_router_behavior.rs
  packages/php/stubs/composer_plugin.php
  packages/python/tests/conftest.py
  packages/python/tests/test_grpc_fixtures.py
Due: mypy, php-format-check, php-lint-check

chore: test fixes
  packages/node/src/grpc_fixtures.spec.ts
  packages/php/tests/GrpcFixturesTest.php
  packages/ruby/ext/spikard_rb/Cargo.lock
  packages/ruby/ext/spikard_rb/Makefile
  packages/ruby/spec/ffi_error_translation_spec.rb
  packages/ruby/spec/grpc_fixtures_spec.rb
  scripts/start_grpc_test_server.py
Due: mypy, ruby-format-check, ruby-lint-check, typescript-typecheck, php-format-check, php-lint-check

fix(build): stabilize php and ruby test harnesses
  Taskfile.yaml
  packages/php/tests/ExtensionInstallerTest.php
  packages/php/tests/GrpcFixturesTest.php
  packages/ruby/ext/spikard_rb/Makefile
  packages/ruby/lib/spikard/response.rb
  packages/ruby/lib/spikard/testing.rb
  packages/ruby/spec/grpc_fixtures_spec.rb
  packages/ruby/spec/spec_helper.rb
  scripts/start_grpc_test_server.py
Due: mypy, ruby-format-check, ruby-lint-check, php-format-check, php-lint-check

feat: add mcp server and harden codegen
  crates/spikard-cli/Cargo.toml
  crates/spikard-cli/src/app.rs
  crates/spikard-cli/src/cli.rs
  crates/spikard-cli/src/codegen/asyncapi/generators/rust.rs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/graphql/generators/rust.rs
  crates/spikard-cli/src/codegen/graphql/spec_parser.rs
  crates/spikard-cli/src/codegen/mod.rs
  crates/spikard-cli/src/codegen/openrpc/generators/mod.rs
  crates/spikard-cli/src/codegen/openrpc/generators/python.rs
  crates/spikard-cli/src/codegen/openrpc/generators/rust.rs
  crates/spikard-cli/src/codegen/openrpc/generators/tests.rs
  crates/spikard-cli/src/codegen/openrpc/mod.rs
  crates/spikard-cli/src/codegen/protobuf/generators/rust_lang.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/src/codegen/rust.rs
  crates/spikard-cli/src/init/engine.rs
  crates/spikard-cli/src/lib.rs
  crates/spikard-cli/src/mcp/errors.rs
  crates/spikard-cli/src/mcp/mod.rs
  crates/spikard-cli/src/mcp/params.rs
  crates/spikard-cli/src/mcp/server.rs
  crates/spikard-cli/tests/cli_mcp_smoke.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
  skills/spikard/SKILL.md
  skills/spikard/references/cli-reference.md
  skills/spikard/references/codegen-workflows.md
  skills/spikard/references/language-bindings.md
  skills/spikard/references/mcp-tools.md
  skills/spikard/references/project-scaffolding.md
  skills/spikard/references/testing-and-fixtures.md
Due: none

Harden Python and PHP codegen outputs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/graphql/generators/php.rs
  crates/spikard-cli/src/codegen/graphql/generators/python.rs
  crates/spikard-cli/src/codegen/openrpc/generators/php.rs
  crates/spikard-cli/src/codegen/openrpc/generators/tests.rs
  crates/spikard-cli/src/codegen/php.rs
  crates/spikard-cli/src/codegen/protobuf/generators/php.rs
  crates/spikard-cli/src/codegen/protobuf/generators/python.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/python.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
  crates/spikard-cli/tests/php_generator_tests.rs
  crates/spikard-cli/tests/test_python_generator_all.rs
Due: none

Harden Ruby codegen outputs
  crates/spikard-cli/src/codegen/graphql/generators/ruby.rs
  crates/spikard-cli/src/codegen/openrpc/generators/ruby.rs
  crates/spikard-cli/src/codegen/openrpc/generators/tests.rs
  crates/spikard-cli/src/codegen/protobuf/generators/ruby.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/ruby.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
Due: none

Add Elixir OpenAPI codegen
  crates/spikard-cli/src/app.rs
  crates/spikard-cli/src/cli.rs
  crates/spikard-cli/src/codegen/elixir.rs
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/mod.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
  crates/spikard-cli/src/init/elixir.rs
  crates/spikard-cli/src/init/engine.rs
  crates/spikard-cli/src/init/mod.rs
  crates/spikard-cli/src/mcp/server.rs
  crates/spikard-cli/tests/codegen_dto_tests.rs
Due: none

Add Elixir OpenRPC codegen
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/openrpc/generators/elixir.rs
  crates/spikard-cli/src/codegen/openrpc/generators/mod.rs
  crates/spikard-cli/src/codegen/openrpc/generators/tests.rs
  crates/spikard-cli/src/codegen/openrpc/mod.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
Due: none

Add Elixir gRPC runtime support
  crates/spikard-cli/src/codegen/engine.rs
  crates/spikard-cli/src/codegen/graphql/generators/elixir.rs
  crates/spikard-cli/src/codegen/graphql/generators/mod.rs
  crates/spikard-cli/src/codegen/graphql/mod.rs
  crates/spikard-cli/src/codegen/mod.rs
  crates/spikard-cli/src/codegen/protobuf/generators/elixir.rs
  crates/spikard-cli/src/codegen/protobuf/generators/mod.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/tests/cli_more_commands_smoke.rs
  crates/spikard-cli/tests/graphql_codegen_integration.rs
  crates/spikard-elixir/Cargo.toml
  crates/spikard-elixir/src/atoms.rs
  crates/spikard-elixir/src/grpc.rs
  crates/spikard-elixir/src/lib.rs
  crates/spikard-elixir/src/server.rs
  packages/elixir/lib/spikard.ex
  packages/elixir/lib/spikard/grpc.ex
  packages/elixir/lib/spikard/handler_runner.ex
  packages/elixir/lib/spikard/native.ex
  packages/elixir/native/spikard_elixir/Cargo.toml
  packages/elixir/native/spikard_elixir/src/atoms.rs
  packages/elixir/native/spikard_elixir/src/grpc.rs
  packages/elixir/native/spikard_elixir/src/lib.rs
  packages/elixir/native/spikard_elixir/src/server.rs
  packages/elixir/test/spikard/grpc_test.exs
Due: elixir-format-check, elixir-lint-check

Align Elixir protobuf codegen with runtime
  crates/spikard-cli/src/codegen/protobuf/generators/elixir.rs
  crates/spikard-cli/src/codegen/protobuf/mod.rs
  crates/spikard-cli/src/codegen/quality/validator.rs
Due: none
