Repository Goldziher/spikard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruby-format-check, ruby-lint-check, typescript-typecheck, php-format-check, php-lint-check, elixir-format-check, elixir-lint-check

Path conditions:
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(packages/node|crates/spikard-node|e2e/node|examples/node|examples/node-simple|examples/graphql-node|tests/test_apps/node)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-format-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-lint-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/

fix: regenerate with PHP Bytes fix, Method Default
  crates/spikard-php/src/lib.rs
  e2e/elixir/test/compression_test.exs
  e2e/elixir/test/cookies_test.exs
  e2e/elixir/test/cors_test.exs
  e2e/elixir/test/di_test.exs
  e2e/elixir/test/headers_test.exs
  e2e/elixir/test/lifecycle_hooks_test.exs
  e2e/elixir/test/query_params_test.exs
  e2e/node/tests/compression.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/di.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/php/tests/CompressionTest.php
  e2e/php/tests/CookiesTest.php
  e2e/php/tests/CorsTest.php
  e2e/php/tests/DiTest.php
  e2e/php/tests/HeadersTest.php
  e2e/php/tests/LifecycleHooksTest.php
  e2e/php/tests/QueryParamsTest.php
  e2e/python/tests/test_compression.py
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_di.py
  e2e/python/tests/test_headers.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_query_params.py
  e2e/ruby/spec/compression_spec.rb
  e2e/ruby/spec/cookies_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/di_spec.rb
  e2e/ruby/spec/headers_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/query_params_spec.rb
  packages/python/spikard/_spikard.pyi
  packages/python/spikard/options.py
Due: mypy, typescript-typecheck

fix: remove integration tests referencing private modules
  crates/spikard-http/src/grpc/handler.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-http/tests/grpc_error_handling_test.rs
  crates/spikard-http/tests/grpc_integration_test.rs
  crates/spikard-http/tests/grpc_metadata_test.rs
  crates/spikard-http/tests/grpc_server_integration.rs
  crates/spikard-http/tests/lifecycle_execution.rs
  crates/spikard-http/tests/multipart_behavior.rs
  crates/spikard-http/tests/server_handler_wrappers.rs
  crates/spikard-http/tests/urlencoded_content_type.rs
Due: none

fix: disable e2e test steps (require server fixture infrastructure)
  .github/workflows/ci-node.yaml
  .github/workflows/ci-python.yaml
Due: none

fix: disable gRPC fixture server in Node CI (needs protobuf deps)
  .github/workflows/ci-node.yaml
Due: none

fix: rename packages/typescript → packages/node to match CI
  packages/node/README.md
  packages/node/package.json
  packages/node/src/index.d.ts
  packages/node/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typescript-typecheck

fix: dedup Python exceptions, regenerate with latest alef
  crates/spikard-http/src/grpc/handler.rs
  crates/spikard-http/src/grpc/service.rs
  crates/spikard-py/src/lib.rs
  e2e/elixir/test/cookies_test.exs
  e2e/elixir/test/cors_test.exs
  e2e/elixir/test/headers_test.exs
  e2e/elixir/test/lifecycle_hooks_test.exs
  e2e/elixir/test/query_params_test.exs
  e2e/node/tests/cors.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/php/tests/CookiesTest.php
  e2e/php/tests/CorsTest.php
  e2e/php/tests/HeadersTest.php
  e2e/php/tests/LifecycleHooksTest.php
  e2e/php/tests/QueryParamsTest.php
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_headers.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_query_params.py
  e2e/ruby/spec/cookies_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/headers_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/query_params_spec.rb
  packages/python/spikard/__init__.py
  packages/python/spikard/_spikard.pyi
  packages/python/spikard/exceptions.py
  packages/python/spikard/options.py
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/src/index.d.ts
  packages/typescript/src/index.ts
Due: mypy, typescript-typecheck

fix: remove re-created packages/typescript (use packages/node)
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/src/index.d.ts
  packages/typescript/src/index.ts
Due: none

fix: regenerate with serde(skip) fix, remove stale packages/typescript
  crates/spikard-py/src/lib.rs
  e2e/elixir/test/auth_test.exs
  e2e/elixir/test/content_types_test.exs
  e2e/elixir/test/cookies_test.exs
  e2e/elixir/test/cors_test.exs
  e2e/elixir/test/http_methods_test.exs
  e2e/elixir/test/lifecycle_hooks_test.exs
  e2e/elixir/test/query_params_test.exs
  e2e/node/tests/auth.test.ts
  e2e/node/tests/content_types.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/php/tests/AuthTest.php
  e2e/php/tests/ContentTypesTest.php
  e2e/php/tests/CookiesTest.php
  e2e/php/tests/CorsTest.php
  e2e/php/tests/HttpMethodsTest.php
  e2e/php/tests/LifecycleHooksTest.php
  e2e/php/tests/QueryParamsTest.php
  e2e/python/tests/test_auth.py
  e2e/python/tests/test_content_types.py
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_http_methods.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_query_params.py
  e2e/ruby/spec/auth_spec.rb
  e2e/ruby/spec/content_types_spec.rb
  e2e/ruby/spec/cookies_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/http_methods_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/query_params_spec.rb
Due: mypy, typescript-typecheck

chore(ci): bump alef-cli to v0.5.8 and fix cache key
  .github/workflows/ci-validate.yaml
Due: none

feat: regenerate PHP and Ruby e2e tests with alef v0.5.8
  e2e/php/tests/CompressionTest.php
  e2e/php/tests/CorsTest.php
  e2e/php/tests/GrpcTest.php
  e2e/php/tests/HeadersTest.php
  e2e/php/tests/HttpMethodsTest.php
  e2e/php/tests/LifecycleHooksTest.php
  e2e/php/tests/QueryParamsTest.php
  e2e/php/tests/ResponseTest.php
  e2e/php/tests/ServerConfigTest.php
  e2e/php/tests/SseTest.php
  e2e/php/tests/StaticFilesTest.php
  e2e/php/tests/StatusCodesTest.php
  e2e/ruby/spec/compression_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/grpc_spec.rb
  e2e/ruby/spec/headers_spec.rb
  e2e/ruby/spec/http_methods_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/query_params_spec.rb
  e2e/ruby/spec/response_spec.rb
  e2e/ruby/spec/server_config_spec.rb
  e2e/ruby/spec/sse_spec.rb
  e2e/ruby/spec/static_files_spec.rb
  e2e/ruby/spec/status_codes_spec.rb
  packages/ruby/sig/types.rbs
Due: ruby-format-check, ruby-lint-check

chore(ci): bump alef-cli to v0.5.9
  .github/workflows/ci-validate.yaml
Due: none

fix: add serde derives to JsonRpcRequestOrBatch, fix TS import order, bump alef to v0.5.9
  crates/spikard-http/src/jsonrpc/router.rs
  packages/node/src/index.ts
Due: typescript-typecheck

chore(ci): bump alef-cli to v0.6.0
  .github/workflows/ci-validate.yaml
Due: none

chore: use official alef pre-commit hooks (v0.6.0)
  .pre-commit-config.yaml
Due: none

chore: migrate ai-rulez config to v4 TOML
  .ai-rulez/config.toml
  .ai-rulez/config.yaml
  .ai-rulez/mcp.yaml
Due: none

chore: remove local_override from ai-rulez includes
  .ai-rulez/config.toml
Due: none

chore: optimize builtins — remove auto-included, add missing
  .ai-rulez/config.toml
Due: none

chore: routine dependency bumps
  .pre-commit-config.yaml
  crates/spikard-cli/Cargo.toml
  crates/spikard-http/Cargo.toml
  package.json
  packages/php/composer.lock
  packages/ruby/Gemfile.lock
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: none

chore(pre-commit): align with kreuzberg alef pattern
  .ai-rulez/domains/code-generation/DOMAIN.md
  .ai-rulez/domains/handler-abstraction/DOMAIN.md
  .ai-rulez/domains/http-framework/DOMAIN.md
  .pre-commit-config.yaml
  docs/guides/code-generation.md
  docs/guides/deployment.md
  docs/guides/graphql.md
  docs/guides/middleware.md
  docs/playbooks/streaming.md
Due: none

chore(taskfile): delegate to alef CLI for binding work
  .gitignore
  .task/config/platforms.yml
  .task/config/vars.yml
  .task/languages/rust.yml
  .task/tools/general.yml
  .task/tools/version-sync.yml
  Taskfile.yaml
Due: none

feat(alef): extend alef.toml — add 8 new language bindings
  .gitignore
  .pre-commit-config.yaml
  alef.toml
Due: none

ci: bump alef CLI to v0.11.18 + add per-language workflow stubs
  .github/workflows/ci-validate.yaml
  .github/workflows/csharp.yml
  .github/workflows/dart.yml
  .github/workflows/gleam.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/kotlin.yml
  .pre-commit-config.yaml
Due: none

feat(crates): add spikard-wasm wasm-safe surface
  Cargo.toml
  crates/spikard-wasm/Cargo.toml
  crates/spikard-wasm/README.md
  crates/spikard-wasm/src/lib.rs
Due: none

feat(wasm): enable spikard-core di feature on wasm + proper feature flagging
  crates/spikard-wasm/Cargo.toml
Due: none

chore: add swift and zig to alef.toml
  .pre-commit-config.yaml
  alef.toml
Due: none

chore: scaffold swift and zig packages
  .github/workflows/swift.yml
  .github/workflows/zig.yml
  packages/swift/.editorconfig
  packages/swift/.gitignore
  packages/swift/.swiftformat
  packages/swift/BUILDING.md
  packages/swift/Examples/Demo/main.swift
  packages/swift/Package.swift
  packages/swift/README.md
  packages/swift/Sources/RustBridge/RustBridge.swift
  packages/swift/Sources/RustBridge/module.modulemap
  packages/swift/Sources/RustBridgeC/RustBridgeC.h
  packages/swift/Tests/SpikardTests/SpikardTests.swift
  packages/zig/.editorconfig
  packages/zig/.gitignore
  packages/zig/README.md
  packages/zig/build.zig
  packages/zig/build.zig.zon
  packages/zig/examples/example.zig
  packages/zig/src/main.zig
Due: none

chore: add Taskfile entries for swift and zig
  Taskfile.yaml
Due: none

fix(wasm): disable wasm-opt to unblock wasm-pack build
  crates/spikard-wasm/Cargo.toml
Due: none
