Repository Goldziher/spikard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruby-format-check, ruby-lint-check, typescript-typecheck, php-format-check, php-lint-check, elixir-format-check, elixir-lint-check

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - tools
  - packages/python

ruby-format-check:
  name: Ruby format check
  entry: task ruby:format:check
  language: system
  pass_filenames: false
  require_serial: true

ruby-lint-check:
  name: Ruby lint check
  entry: task ruby:lint:check
  language: system
  pass_filenames: false
  require_serial: true

typescript-typecheck:
  name: TypeScript typecheck
  entry: pnpm --filter @spikard/node run typecheck
  language: system
  pass_filenames: false
  require_serial: true

php-format-check:
  name: PHP format check
  entry: task php:format:check
  language: system
  pass_filenames: false
  require_serial: true

php-lint-check:
  name: PHP lint check
  entry: task php:lint:check
  language: system
  pass_filenames: false
  require_serial: true

elixir-format-check:
  name: Elixir format check
  entry: task elixir:format:check
  language: system
  pass_filenames: false
  require_serial: true

elixir-lint-check:
  name: Elixir lint check
  entry: task elixir:lint:check
  language: system
  pass_filenames: false
  require_serial: true

fix(e2e): build mock-server and bindings in per-language before-hooks
  alef.toml
Due: none

fix(ci): bump kotlin e2e gradle to 9.5.1
  .github/workflows/ci-e2e.yaml
Due: none

fix(e2e): make zig e2e command self-diagnosing
  alef.toml
Due: none

chore: regenerate with alef 0.19.18
  .pre-commit-config.yaml
  alef.toml
  e2e/node/tests/streaming.test.ts
  e2e/wasm/tests/streaming.test.ts
  packages/dart/CHANGELOG.md
  test_apps/csharp/Spikard.E2eTests.csproj
  test_apps/dart/pubspec.yaml
  test_apps/elixir/mix.exs
  test_apps/go/go.mod
  test_apps/java/pom.xml
  test_apps/kotlin/build.gradle.kts
  test_apps/node/package.json
  test_apps/php/install.sh
  test_apps/python/pyproject.toml
  test_apps/ruby/Gemfile
  test_apps/swift_e2e/Package.swift
  test_apps/wasm/package.json
  test_apps/zig/build.zig.zon
Due: typescript-typecheck

fix(e2e): robust dart/zig teardown + limit kotlin gradle workers
  alef.toml
Due: none

fix(e2e): drop self-matching pkill in dart/zig teardown
  alef.toml
Due: none

fix(ci): run kotlin e2e on JDK 21 (JVM_21 target) to fix gradle test-worker fork
  .github/workflows/ci-e2e.yaml
Due: none

fix(ci): kotlin e2e on JDK 24 (final FFM API + gradle-stable worker fork)
  .github/workflows/ci-e2e.yaml
Due: none

fix(e2e): cap kotlin test-worker heap via gradle init script
  alef.toml
  scripts/ci-gradle-init.gradle
Due: none

fix(e2e): kotlin worker needs JDK 25 + --enable-preview for FFM classes
  .github/workflows/ci-e2e.yaml
  scripts/ci-gradle-init.gradle
Due: none

chore(e2e): add gradle --info --stacktrace to diagnose kotlin worker fork
  alef.toml
Due: none

fix(e2e): commit test_documents/ so kotlin gradle test workers can fork
  alef.toml
  test_documents/.gitkeep
Due: none

chore: standardize alef workflow
  .ai-rulez/agents/spikard-developer.md
  .ai-rulez/config.toml
  .ai-rulez/rules/fixture-driven-testing.md
  Taskfile.yaml
Due: none

fix: format alef 0.19.21-generated bindings to satisfy ktlint/linters
  crates/spikard-node/package.json
  crates/spikard-wasm/Cargo.toml
  crates/spikard-wasm/package.json
  packages/csharp/src/Spikard/GraphQLRouteConfig.cs
  packages/csharp/src/Spikard/ProblemDetails.cs
  packages/csharp/src/Spikard/SecuritySchemeInfo.cs
  packages/csharp/src/Spikard/SpikardLib.cs
  packages/csharp/src/Spikard/SseEvent.cs
  packages/dart/lib/src/spikard.dart
  packages/kotlin/build.gradle.kts
  packages/kotlin/src/main/kotlin/dev/spikard/kt/GraphQLRouteConfig.kt
  packages/kotlin/src/main/kotlin/dev/spikard/kt/Spikard.kt
  packages/php/src/SpikardPhp.php
  packages/python/spikard/_spikard.pyi
  packages/python/spikard/api.py
  packages/python/spikard/exceptions.py
  packages/python/spikard/options.py
  packages/ruby/spikard.gemspec
  packages/zig/src/spikard.zig
Due: mypy, ruby-format-check, ruby-lint-check, php-format-check, php-lint-check

chore: standardize task commands
  .ai-rulez/.generated-manifest.json
  .ai-rulez/agents/spikard-developer.md
  .ai-rulez/commands/build.md
  .ai-rulez/commands/fix.md
  .ai-rulez/commands/lint.md
  .ai-rulez/commands/review.md
  .ai-rulez/commands/test.md
  .ai-rulez/rules/fixture-driven-testing.md
  .ai-rulez/skills/common-task-commands/SKILL.md
  Taskfile.yaml
Due: none

chore: align shared pre-commit hooks
  .pre-commit-config.yaml
  Taskfile.yaml
Due: none

chore: regenerate with alef 0.19.23
  .gitattributes
  .gitignore
  alef.toml
  composer.json
  crates/spikard-ffi/Cargo.toml
  crates/spikard-node/Cargo.toml
  crates/spikard-node/package.json
  crates/spikard-php/Cargo.toml
  crates/spikard-php/src/composer.json
  crates/spikard-py/Cargo.toml
  crates/spikard-wasm/package.json
  packages/dart/rust/src/frb_generated.rs
  packages/elixir/mix.exs
  packages/elixir/native/spikard_nif/Cargo.toml
  packages/go/.lib/.gitkeep
  packages/go/embed_ffi.go
  packages/python/pyproject.toml
  packages/ruby/ext/spikard_rb/native/Cargo.toml
  packages/ruby/spikard.gemspec
  test_apps/node/pnpm-lock.yaml
Due: ruby-format-check, ruby-lint-check, elixir-format-check, elixir-lint-check

fix: align tungstenite to 0.29 and regenerate scaffold on version bump
  .task/tools/version-sync.yml
  crates/spikard-http/Cargo.toml
Due: none

chore(alef): bump pin to v0.20.5
  alef.toml
Due: none

chore(wasm): exclude App, RouteBuilder, AppError, SchemaConfig, FullSchemaConfig
  .ai-rulez/.generated-manifest.json
  .gitignore
  alef.toml
  docs/reference/api-c.md
  docs/reference/api-csharp.md
  docs/reference/api-dart.md
  docs/reference/api-elixir.md
  docs/reference/api-go.md
  docs/reference/api-java.md
  docs/reference/api-kotlin.md
  docs/reference/api-php.md
  docs/reference/api-python.md
  docs/reference/api-ruby.md
  docs/reference/api-rust.md
  docs/reference/api-swift.md
  docs/reference/api-typescript.md
  docs/reference/api-wasm.md
  docs/reference/api-zig.md
  docs/reference/types.md
  packages/dart/README.md
  packages/kotlin/README.md
  packages/kotlin/build.gradle.kts
  packages/python/spikard/_spikard.pyi
  packages/python/spikard/api.py
  packages/python/spikard/exceptions.py
  packages/python/spikard/options.py
  packages/swift/README.md
  packages/zig/README.md
Due: mypy

style(http): rustfmt reflow + go: regenerated service.go
  crates/spikard-http/src/server/mod.rs
  packages/go/service.go
Due: none

feat(facade): expose Handler/Request/Body/RequestData and add handler_result_from_response
  crates/spikard/src/lib.rs
Due: none

feat(py): implement RouteBuilder schema setters
  crates/spikard-py/src/lib.rs
Due: none

chore(e2e/python): regenerate with alef 1e52e6b0b — response headers + content body
  alef.toml
  e2e/python/app_harness.py
  e2e/python/conftest.py
  e2e/python/tests/test_auth.py
  e2e/python/tests/test_background.py
  e2e/python/tests/test_background_tasks.py
  e2e/python/tests/test_body_limits.py
  e2e/python/tests/test_compression.py
  e2e/python/tests/test_content_types.py
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_di.py
  e2e/python/tests/test_edge_cases.py
  e2e/python/tests/test_graphql_operations.py
  e2e/python/tests/test_graphql_schema.py
  e2e/python/tests/test_grpc.py
  e2e/python/tests/test_headers.py
  e2e/python/tests/test_http_methods.py
  e2e/python/tests/test_json_bodies.py
  e2e/python/tests/test_jsonrpc.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_multipart.py
  e2e/python/tests/test_openapi.py
  e2e/python/tests/test_openrpc.py
  e2e/python/tests/test_path_params.py
  e2e/python/tests/test_problem_details.py
  e2e/python/tests/test_query_params.py
  e2e/python/tests/test_rate_limit.py
  e2e/python/tests/test_request_id.py
  e2e/python/tests/test_request_timeout.py
  e2e/python/tests/test_response.py
  e2e/python/tests/test_server_config.py
  e2e/python/tests/test_sse.py
  e2e/python/tests/test_static_files.py
  e2e/python/tests/test_status_codes.py
  e2e/python/tests/test_streaming.py
  e2e/python/tests/test_upload.py
  e2e/python/tests/test_url_encoded.py
  e2e/python/tests/test_validation_errors.py
  test_apps/python/app_harness.py
Due: mypy

chore(e2e/node): regenerate with alef 75085b57d (server-pattern harness)
  e2e/node/app_harness.mjs
  e2e/node/globalSetup.ts
  e2e/node/tests/auth.test.ts
  e2e/node/tests/background.test.ts
  e2e/node/tests/background_tasks.test.ts
  e2e/node/tests/body_limits.test.ts
  e2e/node/tests/compression.test.ts
  e2e/node/tests/content_types.test.ts
  e2e/node/tests/cookies.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/di.test.ts
  e2e/node/tests/edge_cases.test.ts
  e2e/node/tests/graphql_operations.test.ts
  e2e/node/tests/graphql_schema.test.ts
  e2e/node/tests/grpc.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/json_bodies.test.ts
  e2e/node/tests/jsonrpc.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/multipart.test.ts
  e2e/node/tests/openapi.test.ts
  e2e/node/tests/openrpc.test.ts
  e2e/node/tests/path_params.test.ts
  e2e/node/tests/problem_details.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/node/tests/rate_limit.test.ts
  e2e/node/tests/request_id.test.ts
  e2e/node/tests/request_timeout.test.ts
  e2e/node/tests/response.test.ts
  e2e/node/tests/server_config.test.ts
  e2e/node/tests/sse.test.ts
  e2e/node/tests/static_files.test.ts
  e2e/node/tests/status_codes.test.ts
  e2e/node/tests/streaming.test.ts
  e2e/node/tests/upload.test.ts
  e2e/node/tests/url_encoded.test.ts
  e2e/node/tests/validation_errors.test.ts
  e2e/node/vitest.config.ts
Due: typescript-typecheck

chore(alef.toml): wire csharp harness override (register_method = route)
  alef.toml
Due: none

chore(e2e/ruby): regenerate with alef server-pattern
  e2e/ruby/app_harness.rb
  e2e/ruby/spec/auth_spec.rb
  e2e/ruby/spec/background_spec.rb
  e2e/ruby/spec/background_tasks_spec.rb
  e2e/ruby/spec/body_limits_spec.rb
  e2e/ruby/spec/compression_spec.rb
  e2e/ruby/spec/content_types_spec.rb
  e2e/ruby/spec/cookies_spec.rb
  e2e/ruby/spec/cors_spec.rb
  e2e/ruby/spec/di_spec.rb
  e2e/ruby/spec/edge_cases_spec.rb
  e2e/ruby/spec/graphql_operations_spec.rb
  e2e/ruby/spec/graphql_schema_spec.rb
  e2e/ruby/spec/grpc_spec.rb
  e2e/ruby/spec/headers_spec.rb
  e2e/ruby/spec/http_methods_spec.rb
  e2e/ruby/spec/json_bodies_spec.rb
  e2e/ruby/spec/jsonrpc_spec.rb
  e2e/ruby/spec/lifecycle_hooks_spec.rb
  e2e/ruby/spec/multipart_spec.rb
  e2e/ruby/spec/openapi_spec.rb
  e2e/ruby/spec/openrpc_spec.rb
  e2e/ruby/spec/path_params_spec.rb
  e2e/ruby/spec/problem_details_spec.rb
  e2e/ruby/spec/query_params_spec.rb
  e2e/ruby/spec/rate_limit_spec.rb
  e2e/ruby/spec/request_id_spec.rb
  e2e/ruby/spec/request_timeout_spec.rb
  e2e/ruby/spec/response_spec.rb
  e2e/ruby/spec/server_config_spec.rb
  e2e/ruby/spec/spec_helper.rb
  e2e/ruby/spec/sse_spec.rb
  e2e/ruby/spec/static_files_spec.rb
  e2e/ruby/spec/status_codes_spec.rb
  e2e/ruby/spec/streaming_spec.rb
  e2e/ruby/spec/upload_spec.rb
  e2e/ruby/spec/url_encoded_spec.rb
  e2e/ruby/spec/validation_errors_spec.rb
Due: none

chore(e2e/node): regenerate with alef 58f044a97 — CJS interop + scoped import
  alef.toml
  e2e/node/app_harness.mjs
  e2e/node/globalSetup.ts
  e2e/node/tests/auth.test.ts
  e2e/node/tests/background.test.ts
  e2e/node/tests/background_tasks.test.ts
  e2e/node/tests/body_limits.test.ts
  e2e/node/tests/compression.test.ts
  e2e/node/tests/content_types.test.ts
  e2e/node/tests/cookies.test.ts
  e2e/node/tests/cors.test.ts
  e2e/node/tests/di.test.ts
  e2e/node/tests/edge_cases.test.ts
  e2e/node/tests/graphql_operations.test.ts
  e2e/node/tests/graphql_schema.test.ts
  e2e/node/tests/grpc.test.ts
  e2e/node/tests/headers.test.ts
  e2e/node/tests/http_methods.test.ts
  e2e/node/tests/json_bodies.test.ts
  e2e/node/tests/jsonrpc.test.ts
  e2e/node/tests/lifecycle_hooks.test.ts
  e2e/node/tests/multipart.test.ts
  e2e/node/tests/openapi.test.ts
  e2e/node/tests/openrpc.test.ts
  e2e/node/tests/path_params.test.ts
  e2e/node/tests/problem_details.test.ts
  e2e/node/tests/query_params.test.ts
  e2e/node/tests/rate_limit.test.ts
  e2e/node/tests/request_id.test.ts
  e2e/node/tests/request_timeout.test.ts
  e2e/node/tests/response.test.ts
  e2e/node/tests/server_config.test.ts
  e2e/node/tests/sse.test.ts
  e2e/node/tests/static_files.test.ts
  e2e/node/tests/status_codes.test.ts
  e2e/node/tests/streaming.test.ts
  e2e/node/tests/upload.test.ts
  e2e/node/tests/url_encoded.test.ts
  e2e/node/tests/validation_errors.test.ts
  e2e/node/vitest.config.ts
Due: typescript-typecheck

feat(http): parse application/x-www-form-urlencoded bodies via serde_qs before schema validation
  crates/spikard-http/src/middleware/validation.rs
  crates/spikard-http/src/server/handler.rs
Due: none

chore(e2e/python): regenerate with alef 5e54d8b34 (form-body codegen fix)
  e2e/python/app_harness.py
  e2e/python/conftest.py
  e2e/python/tests/test_auth.py
  e2e/python/tests/test_background.py
  e2e/python/tests/test_background_tasks.py
  e2e/python/tests/test_body_limits.py
  e2e/python/tests/test_compression.py
  e2e/python/tests/test_content_types.py
  e2e/python/tests/test_cookies.py
  e2e/python/tests/test_cors.py
  e2e/python/tests/test_di.py
  e2e/python/tests/test_edge_cases.py
  e2e/python/tests/test_graphql_operations.py
  e2e/python/tests/test_graphql_schema.py
  e2e/python/tests/test_grpc.py
  e2e/python/tests/test_headers.py
  e2e/python/tests/test_http_methods.py
  e2e/python/tests/test_json_bodies.py
  e2e/python/tests/test_jsonrpc.py
  e2e/python/tests/test_lifecycle_hooks.py
  e2e/python/tests/test_multipart.py
  e2e/python/tests/test_openapi.py
  e2e/python/tests/test_openrpc.py
  e2e/python/tests/test_path_params.py
  e2e/python/tests/test_problem_details.py
  e2e/python/tests/test_query_params.py
  e2e/python/tests/test_rate_limit.py
  e2e/python/tests/test_request_id.py
  e2e/python/tests/test_request_timeout.py
  e2e/python/tests/test_response.py
  e2e/python/tests/test_server_config.py
  e2e/python/tests/test_sse.py
  e2e/python/tests/test_static_files.py
  e2e/python/tests/test_status_codes.py
  e2e/python/tests/test_streaming.py
  e2e/python/tests/test_upload.py
  e2e/python/tests/test_url_encoded.py
  e2e/python/tests/test_validation_errors.py
Due: mypy

fix(http/cors): emit Vary and Access-Control-Allow-Methods from add_cors_headers
  Cargo.toml
  crates/spikard-http/Cargo.toml
  crates/spikard-http/src/cors.rs
  crates/spikard-http/src/middleware/validation.rs
  crates/spikard-http/src/server/handler.rs
  crates/spikard-py/src/lib.rs
  crates/spikard/src/lib.rs
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/.*\.(rb|rbs)$|^packages/ruby/spikard\.gemspec$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(packages/node|crates/spikard-node|e2e/node|examples/node|examples/node-simple|examples/graphql-node|tests/test_apps/node)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-format-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
  elixir-lint-check: any of: ^packages/elixir/.*\.(ex|exs|heex)$|^packages/elixir/mix\.exs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|v3/|invalid*|dist/|artifacts/
